!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
  %body
    .container
      .text-center
        %h1= t('client_notifications_mailer.charge_succeeded.title')
      %p.lead= t('client_notifications_mailer.charge_succeeded.info')
      .row
        .col-md-4= t('client_notifications_mailer.charge_succeeded.date')
        .col-md-8= @charge.charged_at
      .row
        .col-md-4= t('client_notifications_mailer.charge_succeeded.user')
        .col-md-8= @account.name
      .row
        .col-md-4= t('client_notifications_mailer.charge_succeeded.plan')
        .col-md-8= @subscription_plan.name
      .row
        .col-md-4= t('client_notifications_mailer.charge_succeeded.amount')
        .col-md-8= @charge.amount_with_currency
      .row
        .col-md-4= t('client_notifications_mailer.charge_succeeded.charged_at')
        .col-md-8= @charge.card_info
      .row
        .col-md-4= t('client_notifications_mailer.charge_succeeded.transaction_id')
        .col-md-8= @charge.sequential_id
