= form_for [@schedule, @schedule_timing], remote: true, html: {class: "form-horizontal", role: "form"} do |f|
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h4.modal-title
      = t('.popup.heading')
  .modal-body
    = t('.popup.description_html', event_name: event_name, pluralized_event_name: event_name.pluralize, client_name: client_name)

    = form_errors(@schedule_timing)
    .form-group
      = f.label :name, class: "col-lg-3 control-label"
      .col-lg-8
        = f.text_field :name, autofocus: true, class: "form-control"

    %table.timing_options
      - @schedule_timing.options.each_with_index do |option, index|
        %tr
          %th.col-lg-3
            = t('.popup.round', count: index + 1)
          %td.col-lg-4.days_before
            = select_tag "schedule_timing[options][][days_before]", days_before_options(option), class: "form-control"
          %td
            = select_tag "schedule_timing[options][][value]", timing_options(option), class: "form-control timing_option"

    .form-group
      = f.label :default, class: "col-lg-4 control-label"
      .col-lg-8
        %span{class: 'checkbox checkbox-inline'}
          = f.check_box :default
        %p.help-block
          = t('.popup.default_time_checkbox_hint')


  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}
      = t('.popup.close_btn_txt')
    %button.btn.btn-primary
      = t('.popup.submit_btn_txt')
