- if schedule_timing.persisted?
  %li{id: "rt_#{schedule_timing.id}"}
    = link_to schedule_timing.name, edit_schedule_schedule_timing_path(@schedule, schedule_timing), "data-toggle" => "modal", "data-target" => "#timingsModal"
    &nbsp;
    - if schedule_timing.default?
      %em default
    - if schedule_timing.events.none?
      = link_to schedule_schedule_timing_path(@schedule, schedule_timing), method: :delete, remote: true do
        %span.glyphicon.glyphicon-trash

