<% if @schedule_timing.persisted? %>
  $('#timingsModal').modal('hide');
  $('#reminderTimings').append("<%=j render partial: 'schedule_timings/schedule_timing', locals: {schedule_timing: @schedule_timing} %>");
<% else %>
  $("#timingsModal .modal-content").html("<%=j render 'form' %>");
<% end %>
