.card
  = render 'shared/schedule_tabs'
  .tab-content
    .tab-pane#settings.active
      .card-inner.large-padding
        %p= t('.intro', event_name: event_name).html_safe

        %ul#reminderTimings
          = render partial: 'schedule_timings/schedule_timings'

        = link_to t('.add_timing_btn'), new_schedule_schedule_timing_path(@schedule), "data-toggle" => "modal", "data-target" => "#timingsModal", class: "btn btn-default"

        #timingsModal{"class" => "modal fade", "aria-hidden" => "true", "role" => "dialog", "tabindex" => "-1"}
          .modal-dialog
            .modal-content
