<% if @schedule_timing.errors.any? %>
$("#timingsModal .modal-dialog .modal-content").html("<%=j render 'form' %>");
<% else %>
  $('#reminderTimings').html("<%= j render 'schedule_timings' %>")
  $('#timingsModal').modal('hide');
<% end %>
