html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  color: #666666;
  height: 100%;
  overflow-x: hidden;
}

strong {
  font-weight: bolder;
}

h1 {
  font-size: 185%;
  font-weight: bold;
  color: black;
}

h1.inline {
  display: inline;
}

h1.task {
  color: #ecba82;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1.event {
  color: #954118;
  padding-bottom: 15px;
}

h2 {
  font-size: 130%;
  padding-bottom: 0.5em;
  color: black;
}


h3 {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 100%;
  padding-bottom: 1em;
  color: black;
}

h3.not-uppercase {
  text-transform: none;
}


a {
  color: #666666;
  text-decoration: none;
}


p {
  padding-bottom: 7.5px;
  line-height: 1.3em;
}

p a {
  color: #7ba8b0;
}


.content p:last-child {
  padding-bottom: 0;
}


.app-wrapper {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  display: block;
  position: absolute;
  height: auto;
  min-height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.practicaldesk-logo {
  float: none !important;
  margin-left: 60px;
  margin-top: 4px;
  display: inline-block;
}

.app-wrapper.menu-open {
  left: 250px;
}


.app-content {
  display: block;
  position: relative;
  min-height: 100%;
  padding-top: 58.5px;
  z-index: 1;
}


.splash-screen .app-content {
  padding-top: 0;
}


header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 58.5px;
  background: #222222;
  z-index: 10;
}

header .main-menu-button {
  display: block;
  position: absolute;
  top: 15px;
  width: 28.5px;
  height: 28.5px;
  z-index: 2;
}

header .main-menu-button.main-menu-button-left {
  left: 15px;
}

header .main-menu-button.main-menu-button-left a {
  background-position: left center;
}

header .main-menu-button.main-menu-button-right {
  right: 15px;
}

header .main-menu-button.main-menu-button-right a {
  background-position: right center;
}

header .main-menu-button a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

header .main-menu-button a.menu {
  background-image: image-url("mobile/icons/menu.png");
  background-size: 28.5px 28.5px;
}

header .main-menu-button a.left-arrow {
  background-image: image-url("mobile/icons/left-arrow-white.png");
  background-size: 19.5px 28.5px;
}

header .main-menu-button a.gear {
  background-image: image-url("mobile/icons/gear-white.png");
  background-size: 28.5px 28.5px;
}

header h1 {
  color: #e6f0f1;
  display: block;
  position: absolute;
  top: 18.05px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}


nav.main-menu {
  display: block;
  position: absolute;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #C7C7C7;
  z-index: 9;
}

nav.main-menu a {
  display: block;
  position: relative;
  width: 100%;
  font-size: 185%;
  color: white;
  text-decoration: none;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  border-bottom: 1px dotted white;
}

nav.main-menu a:last-child {
  border-bottom: none;
}


section {
  overflow: hidden;
  *zoom: 1;
  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  padding-bottom: 0;
}

section > .content {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

section.border-top .content {
  border-top: 1px dotted #e0e0e0;
}

section.border-bottom .content {
  border-bottom: 1px dotted #e0e0e0;
}


.show {
  display: block;
  position: relative;
}


.span-33 {
  display: block;
  position: relative;
  float: left;
  width: 33.33333%;
}


.span-66 {
  display: block;
  position: relative;
  float: left;
  width: 66.66667%;
}


.span-25 {
  display: block;
  position: relative;
  float: left;
  width: 25%;
}


.span-50 {
  display: block;
  position: relative;
  float: left;
  width: 50%;
}


.span-75 {
  display: block;
  position: relative;
  float: left;
  width: 75%;
}


.span-100 {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}


.padding-top-gutter-half {
  padding-top: 7.5px;
}


.padding-right-gutter-half {
  padding-right: 7.5px;
}


.padding-bottom-gutter-half {
  padding-bottom: 7.5px;
}


.padding-left-gutter-half {
  padding-left: 7.5px;
}


.padding-top-gutter {
  padding-top: 15px;
}


.padding-right-gutter {
  padding-right: 15px;
}


.padding-bottom-gutter {
  padding-bottom: 15px;
}


.padding-left-gutter {
  padding-left: 15px;
}


.padding-top-gutter-half {
  padding-top: 7.5px;
}


.margin-right-gutter-half {
  margin-right: 7.5px;
}


.margin-bottom-gutter-half {
  margin-bottom: 7.5px;
}


.margin-left-gutter-half {
  margin-left: 7.5px;
}


.margin-top-gutter {
  margin-top: 15px;
}


.margin-right-gutter {
  margin-right: 15px;
}


.margin-bottom-gutter {
  margin-bottom: 15px;
}


.margin-left-gutter {
  margin-left: 15px;
}


.tile-gray {
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

.tile-gray.tile-gray-phone {
  background-image: image-url("mobile/icons/gray-phone.png");
}

.tile-gray.tile-gray-email {
  background-image: image-url("mobile/icons/gray-phone.png");
}


.color-menu-blue {
  color: #597f86;
}


.list-view-header {
  display: block;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 100%;
  height: 2em;
  line-height: 2.3em;
  color: black;
  width: 100%;
  margin-top: 7.5px;
  margin-bottom: 7.5px;
  background-color: #e6f0f1;
}

.list-view-header:first-child {
  margin-top: 0;
}


div.tabbed-list-view-nav {
  display: block;
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 7.5px;
}

div.tabbed-list-view-nav a {
  display: inline-block;
  position: relative;
  height: 100%;
  line-height: 50px;
  background: gray;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

div.tabbed-list-view-nav a.on {
  color: white;
}

div.tabbed-list-view-nav .tabbed-list-view-nav-arrow {
  display: block;
  position: absolute;
  bottom: -7.5px;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7.5px 7.5px 0 7.5px;
  border-color: black transparent transparent transparent;
  margin-left: -7.5px;
}


ul.tabbed-list-view {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  display: block;
  position: relative;
  top: 15px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 5;
}

ul.tabbed-list-view > li {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul.tabbed-list-view.slide-1 {
  left: -100%;
}

ul.tabbed-list-view.slide-2 {
  left: -200%;
}

ul.tabbed-list-view.slide-3 {
  left: -300%;
}

ul.tabbed-list-view.slide-4 {
  left: -400%;
}

ul.tabbed-list-view.slide-5 {
  left: -500%;
}

ul.tabbed-list-view.slide-6 {
  left: -600%;
}

ul.tabbed-list-view.slide-7 {
  left: -700%;
}

ul.tabbed-list-view.slide-8 {
  left: -800%;
}


ul.list-view {
  display: block;
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

ul.list-view li {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 7.5px;
  border-bottom: 1px dotted #cccccc;
}

ul.list-view li:last-child {
  border-bottom: none;
}

ul.list-view li .content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 28.5px;
  text-decoration: none;
  z-index: 1;
}

ul.list-view li .thumbs {
  display: block;
  position: absolute;
  height: 50px;
  overflow: visible;
  z-index: 2;
}

ul.list-view li .thumbs .thumb {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}

ul.list-view li.swiped .content {
  visibility: hidden;
}

ul.list-view li.swiped .thumb-1 {
  left: 0;
}

ul.list-view li.swiped .thumb-2 {
  left: 57.5px;
}

ul.list-view li.swiped .thumb-3 {
  left: 115px;
}

ul.list-view.large-padding > li {
  padding-top: 15px;
  padding-bottom: 15px;
}

ul.list-view.large-padding > li:last-child {
  padding-bottom: 0;
}

ul.list-view.left-thumbs > li > .content {
  min-height: 50px;
  padding-left: 10px;
}

ul.list-view.right-one-icons > li > .content {
  padding-right: 27.5px;
}

ul.list-view.right-two-icons > li > .content {
  padding-right: 47.5px;
}

ul.list-view.right-three-icons > li > .content {
  padding-right: 67.5px;
}


ul.collapsable > li > ul {
  display: none;
  padding-right: 0;
  padding-left: 57.5px;
}

ul.collapsable > li > ul > li {
  padding-right: 0;
}


ul.list-view-milestones {
  background-image: image-url("milestones-stripe.png");
  background-repeat: repeat-y;
  background-position: top center;
  margin-top: 15px;
}

ul.list-view-milestones li {
  min-height: 120px;
  border-bottom: none;
}

ul.list-view-milestones li .background-fill {
  display: block;
  position: absolute;
  width: 100%;
  background-color: white;
}

ul.list-view-milestones li:first-child .background-fill {
  height: 30px;
  top: -7.5px;
}

ul.list-view-milestones li:last-child .background-fill {
  height: 100%;
  top: 7.5px;
}

ul.list-view-milestones li.complete .content {
  background-image: image-url("mobile/icons/milestone-complete.png");
}

ul.list-view-milestones li.complete .content div {
  color: #cccccc;
}

ul.list-view-milestones li.current .content {
  background-image: image-url("mobile/icons/milestone-current.png");
}

ul.list-view-milestones li.future .content {
  background-image: image-url("mobile/icons/milestone-future.png");
}

ul.list-view-milestones li.future .content div {
  color: #777777;
}

ul.list-view-milestones li .content {
  min-height: 120px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 60px 60px;
}

ul.list-view-milestones li .content div {
  position: relative;
  width: 33%;
  padding-top: 7.5px;
  line-height: 1.3em;
}

ul.list-view-milestones li .content .date {
  float: left;
  text-align: right;
}

ul.list-view-milestones li .content .objective {
  float: right;
  text-align: left;
}


ul.list-view li .overdue-color-block {
  display: none;
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: red;
  top: 0;
  left: 0;
  z-index: 1;
}

ul.list-view-tasks li .strikethrough {
  display: none;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  top: 7.5px;
  left: 0;
  z-index: 1;
}

ul.list-view-tasks li .content {
  padding-left: 10px;
}

ul.list-view-tasks li .content h2 {
  width: 100%;
  padding-bottom: 0.2em;
  line-height: 0.7em;
}

ul.list-view-tasks li .content p {
  padding-bottom: 0.2em;
}

ul.list-view-tasks li .content p:last-child {
  padding-bottom: 0;
}

ul.list-view-tasks li .content .task-complete-checkbox {
  position: absolute;
  width: 30px;
  top: -3px;
  left: 7.5px;
  z-index: 2;
}

ul.list-view-tasks li .content .date {
  display: block;
  position: relative;
  float: right;
  line-height: 1.2em;
}

ul.list-view-tasks li .content a {
  color: #7ba8b0;
}

ul.list-view-tasks li.complete {
  color: #cccccc;
}

ul.list-view-tasks li.complete .strikethrough {
  display: block;
}

ul.list-view-tasks li.complete .content h2, ul.list-view-tasks li.complete .content a {
  color: #cccccc;
  padding-bottom: 0;
}

ul.list-view li.overdue .overdue-color-block {
  display: block;
}

ul.list-view-tasks li.overdue .date {
  color: red;
}

ul.list-view li.overdue.complete .overdue-color-block {
  display: none;
}

ul.list-view-tasks li.overdue.complete .date {
  color: #cccccc;
}


.list-view-icons {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

.list-view-icons > span {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  background-position: right center;
  background-repeat: no-repeat;
}

.list-view-icons > span.icon-right-arrow {
  width: 39px;
  background-image: image-url("mobile/icons/right-arrow.png");
  background-size: 19.5px 28.5px;
}

.list-view-icons > span.icon-plus {
  width: 50px;
  background-image: image-url("mobile/icons/plus.png");
  background-size: 25px 25px;
}

.list-view-icons > span.icon-minus {
  width: 50px;
  background-image: image-url("mobile/icons/minus.png");
  background-size: 25px 25px;
}

.list-view-icons > span.icon-map-dot {
  display: none;
  width: 45px;
  background-image: image-url("mobile/icons/map-dot.png");
  background-size: 22.5px 22.5px;
}


.list-view-actions {
  display: block;
  position: relative;
  top: -2.5px;
  float: right;
  width: 25px;
  height: 100%;
}

.list-view-actions > span {
  display: block;
  position: relative;
  float: left;
  width: 25px;
  height: 25px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  margin-bottom: 5px;
}

.list-view-actions.action-phone {
  background-image: image-url("mobile/icons/small-tile-phone.png");
}

.list-view-actions.action-email {
  background-image: image-url("mobile/icons/small-tile-email.png");
}


.detail-view-header {
  display: block;
  position: relative;
  width: 100%;
  background-color: #e6f0f1;
  color: black;
}

.detail-view-header .content {
  display: block;
  position: relative;
  width: 100%;
  padding: 22.5px;
  padding-left: 22.5px;
  padding-right: 22.5px;
}

.detail-view-header .content .status {
  margin-top: 0.5em;
}

.detail-view-header .content .status .status-dot {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.detail-view-header .content .status.status-red {
  color: red;
}

.detail-view-header .content .status.status-red .status-dot {
  background: red;
}

.detail-view-header .content .status.status-yellow {
  color: yellow;
}

.detail-view-header .content .status.status-yellow .status-dot {
  background: yellow;
}

.detail-view-header .content .status.status-green {
  color: green;
}

.detail-view-header .content .status.status-green .status-dot {
  background: green;
}

.detail-view-header .content .thumb {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 22.5px;
  left: 22.5px;
}

.detail-view-header.with-action-panel .content {
  padding-right: 82.5px;
}

.detail-view-header.left-thumb .content {
  min-height: 95px;
  padding-left: 80px;
}

.detail-view-header.detail-view-header-about {
  text-align: center;
}

.detail-view-header.detail-view-header-about .description {
  text-align: left;
  padding-top: 22.5px;
  line-height: 1.3em;
}

.detail-view-header .detail-view-action-panel {
  overflow: hidden;
  *zoom: 1;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 62px;
  background-color: white;
  padding: 1px;
  padding-bottom: 0;
  z-index: 5;
}

.detail-view-header .detail-view-action-panel > a {
  display: block;
  position: relative;
  margin-bottom: 1px;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
  background-repeat: no-repeat;
}

.detail-view-header .detail-view-action-panel > a.action-note {
  background-image: image-url("mobile/icons/tile-note.png");
}

.detail-view-header .detail-view-action-panel > a.action-map {
  background-image: image-url("mobile/icons/tile-map.png");
}

.detail-view-header .detail-view-action-panel > a.action-phone {
  background-image: image-url("mobile/icons/tile-phone.png");
}

.detail-view-header .detail-view-action-panel > a.action-followup {
  background-image: image-url("mobile/icons/tile-followup.png");
}

.detail-view-header .detail-view-action-panel > a.action-history {
  background-image: image-url("mobile/icons/tile-history.png");
}

.detail-view-header .detail-view-action-panel > a.action-closewin {
  background-image: image-url("mobile/icons/tile-closewin.png");
}

.detail-view-header .detail-view-action-panel > a.action-closeloss {
  background-image: image-url("mobile/icons/tile-closeloss.png");
}


.detail-view-table .detail-view-table-row {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 7.5px;
}

.detail-view-table .detail-view-table-row .detail-view-table-left-column {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 65px;
}

.detail-view-table .detail-view-table-row.left-column-tile-gray .detail-view-table-left-column {
  width: 40px;
}

.detail-view-table .detail-view-table-row .detail-view-table-right-column {
  display: block;
  position: relative;
  padding-left: 65px;
}

.detail-view-table .detail-view-table-row.left-column-tile-gray .detail-view-table-right-column {
  padding-left: 40px;
}

.detail-view-table .detail-view-table-row:last-child {
  padding-bottom: 0;
}


section.opportunity-overview {
  height: 150px;
  padding-top: 1em;
  padding-bottom: 1em;
}

section.opportunity-overview h1 {
  font-size: 385%;
  line-height: 1.6em;
}


form h3 {
  color: #666666;
}


label {
  display: inline-block;
  position: relative;
  padding-left: 15px;
}

label.thumbs {
  width: 25px;
  height: 25px;
  top: -12px;
  margin-left: 15px;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

label.thumbs-up {
  background-image: image-url("mobile/icons/thumbs-up.png");
}

label.thumbs-down {
  background-image: image-url("mobile/icons/thumbs-down.png");
}


.form-control-checkbox label {
  top: -4px;
}


input, select {
  width: 100%;
  height: 37.5px;
  padding: 7.5px;
  font-size: 100%;
}


input[type=text], select {
  border: 1px solid #cccccc;
}


input[type=checkbox], input[type=radio] {
  width: 22.5px;
  height: 22.5px;
  margin: 0;
  padding: 0;
}


textarea {
  width: 100%;
  height: 84px;
  border: 1px solid #cccccc;
}


.form-control-toggle {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  position: relative;
  float: left;
  height: 37.5px;
  width: 100px;
  background: #cccccc;
  border: 2px solid #dddddd;
}

.form-control-toggle input[type=checkbox] {
  display: none;
}

.form-control-toggle span.label {
  display: block;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  width: 50px;
  line-height: 37.5px;
  z-index: 1;
}

.form-control-toggle span.label.on {
  left: 7.5px;
}

.form-control-toggle span.label.off {
  right: 7.5px;
  text-align: right;
}

.form-control-toggle .handle {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #cccccc), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(left, #cccccc, #dddddd);
  background-image: -moz-linear-gradient(left, #cccccc, #dddddd);
  background-image: -o-linear-gradient(left, #cccccc, #dddddd);
  background-image: linear-gradient(left, #cccccc, #dddddd);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  z-index: 2;
}

.form-control-toggle.checked {
  background: #60a725;
}

.form-control-toggle.checked .handle {
  left: 50px;
}


.form-header-survey {
  display: block;
  position: relative;
  width: 100%;
  text-align: right;
  color: #e6f0f1;
  font-size: 90%;
  line-height: 1.5em;
  text-transform: uppercase;
  background-color: #78a5ad;
  border-bottom: 2px solid #597f86;
  padding-top: 0.3em;
  padding-right: 7.5px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}


.form-control-group {
  display: block;
  position: relative;
  margin-bottom: 15px;
  text-align: left;
}

.form-control-group:last-child {
  padding-bottom: none;
}

.form-control-group .form-control {
  display: block;
  position: relative;
  margin-bottom: 7.5px;
}

.form-control-group .form-control-range {
  width: 90%;
  margin-left: 5%;
}

.form-control-group .form-control-range ul {
  display: block;
  position: absolute;
  top: 21px;
  z-index: 1;
}

.form-control-group .form-control-range ul li {
  display: block;
  position: absolute;
  width: 1px;
  height: 9px;
  background-color: #cccccc;
  overflow: visible;
  z-index: 1;
}

.form-control-group .form-control-range ul li span {
  display: block;
  position: absolute;
  font-size: 90%;
}


.settings .form-control-group {
  float: right;
}


.form-navigation-buttons a {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  line-height: 26.25px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-left: 52.5px;
  text-align: left;
  text-transform: uppercase;
  color: #597f86;
  background-image: image-url("mobile/icons/form-button-previous.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 37.5px 37.5px;
}

.form-navigation-buttons a.next, .form-navigation-buttons a.finish {
  border-left: 1px dotted #e0e0e0;
  text-align: right;
  padding-right: 52.5px;
  padding-left: 0;
  background-position: right center;
}

.form-navigation-buttons a.next.span-100, .form-navigation-buttons a.finish.span-100 {
  border-left: none;
}

.form-navigation-buttons a.next {
  background-image: image-url("mobile/icons/form-button-next.png");
}

.form-navigation-buttons a.finish {
  background-image: image-url("mobile/icons/form-button-finish.png");
}


.progress-dotted {
  display: block;
  position: relative;
  width: 100%;
  height: 31.5px;
  margin-bottom: 15px;
}

.progress-dotted .progress-dotted-bg {
  display: block;
  position: absolute;
  top: 4.5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #dddddd;
  z-index: 1;
}

.progress-dotted .progress-dotted-label {
  display: block;
  position: absolute;
  top: 17.5px;
}

.progress-dotted ul {
  display: block;
  position: relative;
  height: 10px;
  width: 100%;
  z-index: 2;
}

.progress-dotted ul li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  overflow: visible;
  background-color: #dddddd;
}

.progress-dotted ul li.on {
  background-color: black;
}


.progress-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 10px;
  background: #cccccc;
  margin-bottom: 15px;
}


.progress-bar-fill {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  background-color: black;
}


.data-capture-buttons a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #597f86), color-stop(100%, #7ba8b0));
  background-image: -webkit-linear-gradient(top, #597f86, #7ba8b0);
  background-image: -moz-linear-gradient(top, #597f86, #7ba8b0);
  background-image: -o-linear-gradient(top, #597f86, #7ba8b0);
  background-image: linear-gradient(top, #597f86, #7ba8b0);
  display: block;
  position: relative;
  float: left;
  height: 100%;
  line-height: 45px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bolder;
}

.data-capture-buttons.one-buttons a {
  width: 100%;
}

.data-capture-buttons.two-buttons a {
  width: 48%;
}

.data-capture-buttons.two-buttons a:first-child {
  margin-right: 1%;
}

.data-capture-buttons.two-buttons a:last-child {
  float: right;
  margin-left: 1%;
}


.map-canvas-wrapper, .map-canvas {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 8;
}


.map-canvas-wrapper.map-canvas-wrapper-list-view {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  border-top: 2px solid #cccccc;
}


.infowindow-container {
  display: block;
  position: relative;
  width: 350px;
}

.infowindow-container p {
  font-size: 90%;
  padding-bottom: 0;
}

.infowindow-container p strong {
  font-size: 80%;
  line-height: 3em;
}


#carousel-wrapper {
  width: 100%;
  min-width: 320px;
  height: 100%;
}


#carousel-nav {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  z-index: 100;
  top: 8px;
  width: 200px;
  height: 20px;
  left: 50%;
  top: 80px;
  background: rgba(0, 0, 0, 0.75);
  padding: 0;
  margin: 0 0 0 -100px;
}

#carousel-nav li {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  line-height: 14px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  padding: 0;
  margin: 3px 11px 0 0;
  text-align: center;
}

#carousel-nav li#prev {
  margin-left: 5px;
  background: transparent;
}

#carousel-nav li#next {
  margin-right: 0;
  background: transparent;
}

#carousel-nav li.selected {
  background: rgba(255, 255, 255, 0.4);
}


#swipeview-slider > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  box-align: center;
  position: relative;
  overflow: hidden;
}

#swipeview-slider img {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: #666666 0 2px 6px;
  -moz-box-shadow: #666666 0 2px 6px;
  box-shadow: #666666 0 2px 6px;
  display: block;
  border: 5px solid #eeeeee;
  opacity: 1;
  pointer-events: none;
  margin: 0 auto;
  max-width: 300px;
  max-height: 400px;
}

#swipeview-slider span {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  display: block;
  background: #e6f0f1;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

#swipeview-slider span h3 {
  padding-bottom: 0.5em;
}

#swipeview-slider .swipeview-active span {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}


#carousel-wrapper > div > .swipeview-loading {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#555555)), -webkit-gradient(linear, 0 0, 100% 0, from(#777777), to(#777777));
  background-position: 50% 50%, 50% 50%;
  background-size: 200px 140px, 210px 150px;
  background-repeat: no-repeat;
}


#carousel-wrapper > div > .swipeview-loading img,
#swipeview-slider img.loading {
  -webkit-transition-duration: 0s;
  opacity: 0;
}


#carousel-wrapper > div > .swipeview-loading span {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}


.Zebra_DatePicker *,
.Zebra_DatePicker *:after,
.Zebra_DatePicker *:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}


.Zebra_DatePicker {
  position: absolute;
  background: #666666;
  border: 3px solid #666666;
  display: none;
  z-index: 100;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 130%;
}


.Zebra_DatePicker * {
  margin: 0;
  padding: 0;
  color: black;
  background: transparent;
  border: none;
}


.Zebra_DatePicker table {
  border-collapse: collapse;
  border-spacing: 0;
}


.Zebra_DatePicker td,
.Zebra_DatePicker th {
  text-align: center;
  padding: 5px 0;
}


.Zebra_DatePicker td {
  cursor: pointer;
}


.Zebra_DatePicker .dp_daypicker,
.Zebra_DatePicker .dp_monthpicker,
.Zebra_DatePicker .dp_yearpicker {
  margin-top: 3px;
}


.Zebra_DatePicker .dp_daypicker td,
.Zebra_DatePicker .dp_daypicker th,
.Zebra_DatePicker .dp_monthpicker td,
.Zebra_DatePicker .dp_yearpicker td {
  background: #cccccc;
  width: 40px;
  border: 1px solid #597f86;
}


.Zebra_DatePicker,
.Zebra_DatePicker .dp_header .dp_hover,
.Zebra_DatePicker .dp_footer .dp_hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}


.Zebra_DatePicker .dp_header td {
  color: white;
}


.Zebra_DatePicker .dp_header .dp_previous,
.Zebra_DatePicker .dp_header .dp_next {
  width: 30px;
}


.Zebra_DatePicker .dp_header .dp_caption {
  font-weight: bold;
}


.Zebra_DatePicker .dp_header .dp_hover {
  background: #222222;
  color: white;
}


.Zebra_DatePicker .dp_header .dp_blocked {
  color: #888888;
  cursor: default;
}


.Zebra_DatePicker .dp_daypicker th {
  background: #597f86;
}


.Zebra_DatePicker td.dp_not_in_month {
  background: #f3f3f3;
  color: #cdcdcd;
  cursor: default;
}


.Zebra_DatePicker td.dp_not_in_month_selectable {
  background: #f3f3f3;
  color: #cdcdcd;
  cursor: pointer;
}


.Zebra_DatePicker td.dp_weekend {
  background: #d8d8d8;
}


.Zebra_DatePicker td.dp_weekend_disabled {
  color: #cccccc;
  cursor: default;
}


.Zebra_DatePicker td.dp_selected {
  background: #597f86;
  color: white !important;
}


.Zebra_DatePicker td.dp_week_number {
  background: #ffcc33;
  color: #555555;
  cursor: text;
  font-style: italic;
}


.Zebra_DatePicker .dp_monthpicker td {
  width: 33%;
}


.Zebra_DatePicker .dp_yearpicker td {
  width: 33%;
}


.Zebra_DatePicker .dp_footer {
  margin-top: 3px;
}


.Zebra_DatePicker .dp_footer .dp_hover {
  background: #222222;
  color: white;
}


.Zebra_DatePicker .dp_today {
  color: white;
  padding: 3px;
}


.Zebra_DatePicker .dp_clear {
  color: white;
  padding: 3px;
}


.Zebra_DatePicker td.dp_current {
  color: #c40000;
}


.Zebra_DatePicker td.dp_disabled_current {
  color: #e38585;
}


.Zebra_DatePicker td.dp_disabled {
  background: #f3f3f3;
  color: #cdcdcd;
  cursor: default;
}


.Zebra_DatePicker td.dp_hover {
  background: #7ba8b0;
  color: white;
}


button.Zebra_DatePicker_Icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  background: image-url("calendar.png") no-repeat left top;
  text-indent: -9000px;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}


button.Zebra_DatePicker_Icon_Disabled {
  background-image: image-url("calendar-disabled.png");
}


button.Zebra_DatePicker_Icon {
  margin: 0 0 0 3px;
}


button.Zebra_DatePicker_Icon_Inside {
  margin: 0 3px 0 0;
}


.noUiSlider,
.noUiSlider * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: block;
  cursor: default;
}


.noUiSlider {
  position: relative;
  z-index: 2;
}

.noUiSlider a {
  position: absolute;
  z-index: 1;
}

.noUiSlider:nth-child(2) {
  background: inherit !important;
}

.noUiSlider.vertical a {
  width: 100%;
  bottom: 0;
}

.noUiSlider.horizontal a {
  height: 100%;
  right: 0;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

  .noUiSlider:before,
  body.TOUCH,
  .noUiSlider div {
    -ms-touch-action: none;
  }


  .noUiSlider:before {
    display: block;
    position: absolute;
    width: 150%;
    left: -25%;
    height: 400%;
    top: -150%;
    content: "";
    z-index: -1;
  }


  .noUiSlider.vertical:before {
    width: 400%;
    left: -150%;
    height: 150%;
    top: -25%;
  }
}

.noUiSlider {
  border: 1px solid #908d84;
  border-radius: 3px;
}


.noUiSlider.connect a,
.noUiSlider.connect.lower {
  background: #b2a98f;
}


.noUiSlider,
.noUiSlider.connect.lower a {
  background: #d9d7cb;
  box-shadow: inset 0px 1px 7px #b6b4a8;
}


.noUiSlider.disabled,
.noUiSlider.disabled.connect.lower a {
  background: #cccccc;
  box-shadow: none;
}


.noUiSlider div {
  height: 30px;
  width: 30px;
  border: 1px solid #99968f;
  border-radius: 3px;
  background: #efefe7;
}


.noUiSlider.disabled div {
  background: transparent;
}


.noUiSlider.horizontal {
  width: 100%;
  height: 22.5px;
}


.noUiSlider.horizontal div {
  margin: -5px 0 0 -9px;
}


.noUiSlider.vertical {
  width: 10px;
  height: 300px;
}


.noUiSlider.vertical div {
  margin: -9px 0 0 -5px;
}


.graph {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}


.axis path, .axis line {
  fill: none;
  stroke: #666666;
  stroke-width: 1;
  shape-rendering: crispEdges;
}


.axis text {
  fill: #666666;
  font: 16px sans-serif;
}


.bar {
  fill: steelblue;
}


.bar-values {
  fill: white;
  font-size: 16px;
}


.graph label {
  position: absolute;
}


.legend-text {
  font-weight: bolder;
}


.donut-center-text {
  font-size: 185%;
  font-weight: bolder;
  fill: #666666;
}


.graph-line {
  fill: none;
  stroke: #cccccc;
  stroke-width: 4;
  shape-rendering: crispEdges;
}


.max-text-title,
.min-text-title {
  font-weight: bolder;
}


.max-text,
.min-text {
  fill: #7ba8b0;
}


.splash {
  background-image: -webkit-gradient(radial, 100px 100px, 0, 100px 100px, 300, color-stop(3.33333%, #597f86), color-stop(100%, #7ba8b0));
  background-image: -webkit-radial-gradient(100px 100px, #597f86 10px, #7ba8b0 300px);
  background-image: -moz-radial-gradient(100px 100px, #597f86 10px, #7ba8b0 300px);
  background-image: -o-radial-gradient(100px 100px, #597f86 10px, #7ba8b0 300px);
  background-image: radial-gradient(100px 100px, #597f86 10px, #7ba8b0 300px);
}

.splash .app-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 0;
}

.splash .app-content .splash-screen-wrapper {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 200px;
  margin: auto;
}

.splash .app-content .splash-screen-wrapper .content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}


.week-planner {
  display: block;
  position: relative;
  width: 100%;
}

.week-planner li {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px;
  height: 40px;
}

.week-planner li .date {
  display: block;
  position: absolute;
  font-weight: bolder;
  left: 7.5px;
  top: 15px;
}

.week-planner li.on {
  background-color: #eeeeee;
  background-image: image-url("week-planner-bg.png");
  background-position: right center;
  background-size: 15px 50px;
  background-repeat: no-repeat;
}


.week-planner-items {
  display: block;
  position: relative;
  padding-left: 45px;
  height: 10px;
}

.week-planner-items li {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  position: relative;
  float: left;
  width: 10px;
  height: 10px;
  padding: 0;
  margin-right: 3.33333px;
}

.week-planner-items li.event {
  background-color: #954118;
}

.week-planner-items li.task {
  background-color: #ecba82;
}


.date-content {
  display: none;
}

.date-content p {
  padding-bottom: 15px;
}


.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.modal .background {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #597f86;
}

.modal .modal-content-wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.modal .modal-content-wrapper .modal-content {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}
