%nav.main-menu
  %h2= t('.title')
  %ul
    = render partial: "schedule", collection: @dashboard.all_schedules
%header
  .main-menu-button.main-menu-button-left
    %a.menu
      &nbsp;
  .main-menu-button.main-menu-button-right
    %a.gear
  %a.navbar-brand.logo.practicaldesk-logo{:href => root_path}
    = image_tag('practicaldesk_logo.png', alt: "PracticalDesk")
.app-content
  .tabbed-list-view-nav
    %a.span-33.on{href: "#"}= t('.today')
    %a.span-33{href: "#"}= t('.tomorrow')
    %a.span-33{href: "#"}= t('.this_Week')
    .tabbed-list-view-nav-arrow
  %ul.tabbed-list-view
    %li
      %ul.list-view.right-one-icons.collapsable.left-thumbs
        = render partial: "event", collection: @dashboard.events_today
    %li
      %ul.list-view.right-one-icons.collapsable.left-thumbs
        = render partial: "event", collection: @dashboard.events_tomorrow
    %li
      %ul.list-view.right-one-icons.collapsable.left-thumbs
        = render partial: "event", collection: @dashboard.events_this_week
