- if unavailable_mode?
  #unavailable_mode
    Unavailable mode is active

#calendar{:class => calendar_classes, 'data-hidden-days' => @dashboard.hidden_days, 'data-frequency' => @dashboard.frequency, 'data-min-time' => @dashboard.min_time, 'data-max-time' => @dashboard.max_time, 'data-events-path' => @dashboard.events_path, 'data-schedule-id' => @dashboard.schedule_id, 'data-schedule-name' => @dashboard.schedule_name}


#event-modal{"class" => "modal fade", "aria-hidden" => "true", "role" => "dialog", "tabindex" => "-1"}
  .modal-dialog
    .modal-content

