= simple_form_for current_user, as: :user, url: url_for(action: :update), wrapper: :bootstrap_horizontal, html: {class: 'form-horizontal', role: 'form'} do |f|
  = f.input :first_name, required: true, label: t('.first_name_lbl')
  = f.input :last_name,  required: true, label: t('.last_name_lbl')
  = f.input :email, required: true, label: t('.email_lbl')
  = f.input :password, hint: t('.password_hint')
  = f.input :password_confirmation, hint: t('.password_confirmation_hint')
  = decorated_submit(f)
