- content_for :header do
  = javascript_include_tag "https://js.stripe.com/v2"
  = javascript_tag "Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');"

.card
  %h3= t(".heading")
  .tab-content
    .card-inner.large-padding
      = form_for :account, method: :put, url: expire_path, html: {class: "form-horizontal", role: "form"} do |f|
        = f.hidden_field :stripe_token, id: "user_account_attributes_stripe_token"
        = f.hidden_field :last_4_digits, id: "user_account_attributes_last_4_digits"
        #credit-card
          %h2= t('.thank_you')
          %h4= t('.info', trial_days: current_account.trial_period_end_date_on_days)
          = render partial: "payments/credit_card"
        .form-group
          = label_tag :subscription_plan_id, "Subscription Plan", class: "col-sm-4 control-label"
          .row
            .col-sm-7
              %table.table.table-no-border
                - for plan in @plans
                  %tr
                    %td
                      = f.radio_button :subscription_plan_id, plan.id
                      = f.label :subscription_plan_id, plan.name, value: plan.id
        .form-group
          .col-sm-4.col-sm-offset-4
            = f.submit(class: "btn btn-primary")
            = link_to "Cancel", billing_path
