#note-update-form
  = form_for @note, url: event_note_path(@event, @note), method: :put, remote: true do |f|
    .form-group
      = f.label :description
      = f.text_area :description, class: "form-control"
    = f.submit class: 'btn btn-default'
  