#note-panel{'data-note-id': note.id}
  .panel.panel-default
    .panel-heading
      = t('.heading_html', user: note.account_name, time_ago: note.created_at_ago)
      .pull-right
        = link_to edit_event_note_path(@event, note), id: 'edit-note', remote: true do
          %span.glyphicon.glyphicon-pencil
          Edit
        &nbsp;&nbsp;&nbsp;
        = link_to event_note_path(@event, note), method: :delete, id: "delete-note", data: { confirm: "Are you sure?", remote: true } do
          %span.glyphicon.glyphicon-remove 
          Delete
    #panel-body.panel-body{'data-note-id': note.id}
      = simple_format(note.description)
