<% if @note.persisted? %>
  $('#notes-section').append("<%=j render(@note.decorate) %>");
  $('#note_description').val('');
<% else %>
  $('#note-errors').html('<%= @note.errors.full_messages.first %>').addClass("in");
  window.setTimeout( function(){
    $('#note-errors').removeClass("in")
  }, 3000);
<% end %>

// Disable `loading` message
$("form .btn[type=submit]").button('reset');
