.modal-dialog
  = form_for current_account, remote: true, method: :put, url: subscription_plans_path, html: {class: "form-horizontal", role: "form"} do |f|
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title= t('.title')
      .modal-body
        = form_errors(current_account)
        %table.table.table-no-border
          - for plan in @plans
            %tr
              %td
                = f.radio_button :subscription_plan_id, plan.id
                = f.label :subscription_plan_id, plan.name, value: plan.id

      .modal-footer
        = f.submit(class: "btn btn-primary")
        = link_to "Close", "#", "data-dismiss" => "modal"
