/*
 *= require_self
 *= require fullcalendar
 *= require flashlight
 *= require nprogress
 *= require nprogress-bootstrap
 *= require daterangepicker-bs3
 *= require_tree ../public/
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.form-horizontal .control-label, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  padding-bottom: 6px;
}
.decorated_submit {
  > div {
   margin-left: 25%;
  }
}

.modal-open, .modal-open .navbar-fixed-top {
  margin-right: 0 !important;
}

body {
  overflow-y: scroll;
}

body.modal-open {
  overflow-y: scroll;
  margin: 0;
}

.modal {
  overflow: auto;
}

.translation_missing {
  color: white;
  text-shadow: none;
  background-color: red;
}

.daterange-picker {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 34px;
}

.alert.navbar-text {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
}