.practicaldesk-logo {
  background-size: 185px 50px;
  left: 1.2em;
  top: 6px;
  padding-top: 53px;
  width: 187px;
}

.navbar {
  min-height: 60px;
}

.navbar-nav {
  margin-left: 230px;
  margin-top: 10px;
}

a.logo {
  display: block;
  height: 0;
  overflow: hidden;
  position: absolute;
  background: image-url('practicaldesk_logo.png') 0 0 no-repeat;
}
