@import 'mixins';

.billing-section {
  @include content-section;

  .action-button {
    float: right;
    margin-bottom: 5px;
    margin-left: 10px;
    pointer-events: auto;
  }

  .section-label {
    color: #777;
    font-weight: normal;
    position: absolute;
    text-align: right;
    width: 85px;
  }

  .section-content {
    color: #333;
    margin-left: 100px;
  }

}

.mini-button {
  line-height: 24px;
  padding: 0 10px;
}
