/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;

  .item {
    height: 500px;
    background-color: #333;
    text-align: center;

    .inner {
      margin: 0 90px 0 90px;
      color: #fff;

      h2, h3 {
        font-family: "trebuchet ms", sans-serif;
        margin: 0 0 15px 0;
      }

      h2 {
        padding-top: 60px;
        font-size: 52px;
      }

      h3 {
        padding-top: 20px;
        font-size: 33px;
      }

      p, li {
        text-align: left;
        font-size: 1.3em;
      }

      a {
        color: #006AF5;
        text-decoration: underline;
      }
    }
  }

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

.onboarding {
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 100;
  position: absolute;
  height: 500px;
  width: 766px;
  top: 30px;
  box-shadow: 10px 10px 5px #888888;

  #close-button {
    z-index: 500;
    position: absolute;
    right: 6px;
    line-height: 1em;
    top: 6px;
    color: #fff;
    font-size: 1.2em;

    a {
      color: #fff;
    }
  }
}

.fc-header-title h2 {
  font-size: 1.2em;
}
.form-horizontal #datetime-picker {
  display: block;
}

.container-fluid {
  padding: 0 15px;
}

#filter-by-schedule {
  padding: 0 0 1em 0;
  text-align: right;
}

#contactFields {
  display: none;
}

.event-datetime {
  padding-top: 7px;
}


.color-band {
  position: absolute;
  right: 2px;
  top: 0px;
  background-color: #9f1423;
  height: 100%;
  width: 6px;
}

#unavailable_mode {
  text-align: center;
  font-weight: bold;
  color: red;
}
