
#event-modal {
  .modal-header {
    h3 {
      font-size: 1em;
    }
  }

  label {
   white-space:nowrap;
  }

  .controls {
    margin-left: 110px;
  }

  .twitter-typeahead {
    width: 100%;
    input {
      width: 100%;
    }
  }

  .contact {
    width: 100%;
    line-height: 16px;

    td.name {
      vertical-align: text-top;
      font-size: 1.2em;
      white-space: nowrap;
      font-weight: bold;
    }
    td.info {
      text-align: right;
      font-size: 0.8em;
      white-space: nowrap;
    }
  }
}

.table-no-border>thead>tr>th,
.table-no-border>tbody>tr>th,
.table-no-border>tfoot>tr>th,
.table-no-border>thead>tr>td,
.table-no-border>tbody>tr>td,
.table-no-border>tfoot>tr>td {
  border: none;
}

#settings_gear {
  float: left;
  height: 30px;
  line-height: 2.6em;

  .dropdown-toggle {
    padding: 8px 8px 6px 8px;
  }

  .dropdown-menu {
    a {
      text-align: left;
    }
  }
}
