@import 'mixins';

.calendars {
  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
  padding: 0 12px 0 12px;
  line-height: 1.4em;
  cursor: pointer;
}

#sidebar {
  display: none;
}

#ChangestatusMenu {
  min-width: 130px;
}

.one-hour-slots .fc-agenda-slots td div {
  height: 48px;
}

.half-hour-slots .fc-agenda-slots td div {
  height: 28px;
}

.fc-event {
  background-color:#7f797a;
  border: none;
}

.fc-event-container {
  a {
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
  }
  a.annotation {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  .show .color-band {
    background-color: #149824;
  }
  .pending .color-band {
    background-color: #e4be06;
  }
  .canceled .color-band {
    background-color: #ce0008;
  }
  .confirmed .color-band {
    background-color: #2B72D0;
  }
  .no_show .color-band {
    background-color: #b8bab7;
    border-color: #a0a3a1;
  }

  .callback .color-band {
    background-color: #44318F;
  }
}

table.event {
  td, th {
    padding-top: 6px;
    padding-left: 20px;
  }
}

ul.transitions {
  left: 60px;
  li {
    text-align: left;
  }
}

#event-controls {
  float: right;
}

.line-through {
  text-decoration: line-through;
}


.fc-event-vert.fc-event-end.annotation {
    border-radius: 0;
}

.fc-event.annotation {
  border-color:     #999; /* default BORDER color */
  background-color: #8d8d8f; /* default BACKGROUND color */
  color:            #777; /* default TEXT color */
  text-align:       center;
  opacity:          0.6;
  filter:           alpha(opacity=60); /* for IE */

  .fc-event-title {
    font-size: 1.6em;
    font-weight: bold;
    margin-top: 10px;
  }
}

.event-section {
  @include content-section;
}
