div.small-page {
  margin: auto;
  max-width: 640px;
}

#error_explanation {
  color: red;
  font-weight: 900;
}

.field_with_errors {
  color: #B94A48;
  display: inline;

  label, input {
    background-color: #FFB7BC;
  }
}

.table-buttons {
  float: right;
  margin-right: 10px;
}

.btn .glyphicon {
  padding-right: 5px;
}

.card {
   background: none repeat scroll 0 0 #EFEFEF;
    border-radius: 3px;
    margin: 0 0 15px;
    padding: 3px;
    position: relative;

  h3, .heading {
   -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #E0E0E0;
    background-image: linear-gradient(#FAFAFA, #E0E0E0);
    background-repeat: repeat-x;
    border-color: #D8D8D8 #D8D8D8 -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-width: 1px 1px medium;
    font-size: 14px;
    margin: 0;
    padding: 10px 10px 11px;
    text-shadow: 0 1px 0 #FFFFFF;
    border: 1px solid #d8d8d8;
  }

  .btn-group {
    .glyphicon {
      margin: 10px 10px 0 0;
    }
  }
}

.card-inner, .nav-tabs {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-color: #CCCCCC #D8D8D8 #D8D8D8;
  border-image: none;
  border-right: 1px solid #D8D8D8;
  border-style: solid;
  border-width: 1px;
  color: #666666;
  font-size: 13px;
  padding: 10px 10px;
}

.large-padding {
  padding: 30px 30px 30px;
}


.howitworks {
  font-size: 14px;
  margin-bottom: 15px;
}

.wrapper {
  margin: 30px auto 0;
}
