.registrations {

  .navbar {
    margin-bottom: 12px;
  }

  .panel {
    border-color: #337ab7;
  }

  .form-control:focus {
    border-color: #337ab7;
  }

  label {
    font-weight: normal;
  }

  button.btn-primary {
    width: 100%;
    padding: 10px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#388DD6), to(#337ab7));
    font-size: 1.6em;
  }

  .jumbotron {

    h2 {
      margin-top: 10px;
    }

    text-align: center;
    padding: 0px;

    ul.signup-intro {
      text-align: left;
      margin: 1em auto;
      width: auto;
      font-size: 1.25em;
    }
  }

  .navbar-inverse {
    background-color: #fff;
    border-color: #fff;
  }
  
  .practicaldesk-logo {
    background-size: 187px 52px;
    left: 1.2em;
    top: 12px;
    padding-top: 53px;
    width: 187px;
  }

  a.logo {
    display: block;
    height: 0;
    overflow: hidden;
    position: absolute;
    background: image-url('logo-transparent-bg.jpg') 0 0 no-repeat;
  }
  .navbar-right {
    margin-right: 0;
  }

  ul.registration-nav {
    margin-top: 1.2em;
    li {
      vertical-align: middle;
      line-height: 3em;
      margin-top: 10px;
      margin-left: 1.2em;
      float: left;
      position: relative;
      display: block;

      a {
        text-decoration: underline;
      }
    }
  }
}

.secure_image {
  float: left;
  margin-left: 60px;

  img {
    width: 112px;
    height: auto;
    max-width: 100%;
  }
}
