.bs-callout-danger {
    background-color: #FCB6B5;
    border-color: #FCBFBA;
}

.bs-callout {
    border-left: 3px solid #EEEEEE;
    margin: 10px 0;
    padding: 20px;
}

table.notifications {
  td {
    padding: 0 30px 10px 0;
  }
}

.nav-tabs {
  background: #EFEFEF;
  > li {
    margin-bottom: -2px;
  }
  > li.active {
    border-bottom: 2px solid red;

    > a {
      border-radius: 0;
    }
  }
}

.checkbox-inline {
  .form-control {
    width: auto;
    height: auto;
  }
}

.schedulable-hours, .business-days {
  float: left;
}

.added-margin {
  margin-left: 16px;
}
