.card {
  .card-action {
    margin: 5px 6px 0 0;
    z-index: 10;
  }
}

.invited {
  background: none repeat scroll 0 0 #66BB55;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: normal;
  padding: 1px 2px;
}

.btn-group {
  .icon {
    vertical-align: -8px;
    margin-right: 10px;
  }
}
