.card
  = render 'shared/schedule_tabs'
  .tab-content
    .tab-pane#settings.active
      .card-inner.large-padding
        - for script_group in @schedule.script_groups
          .script-group
            = "#{script_group.name}: "
            = link_to t('.email_script_button'), edit_schedule_script_email_path(@schedule, script_group.email_script), "data-toggle" => "modal", "data-target" => "#emailScriptModal", class: "btn btn-default"
            = link_to t('.sms_script_button'), edit_schedule_script_sm_path(@schedule, script_group.sms_script), "data-toggle" => "modal", "data-target" => "#smsScriptModal", class: "btn btn-default"
            = link_to t('.voice_script_button'), edit_schedule_script_voice_path(@schedule, script_group.voice_script), 'data-toggle' => 'modal', 'data-target' => "#voiceScriptModal", class: "btn btn-default"

        #emailScriptModal{"class" => "modal fade", "aria-hidden" => "true", "role" => "dialog", "tabindex" => "-1"}
          .modal-dialog
            .modal-content

        #smsScriptModal{"class" => "modal fade", "aria-hidden" => "true", "role" => "dialog", "tabindex" => "-1"}
          .modal-dialog
            .modal-content

        #voiceScriptModal{"class" => "modal fade", "aria-hidden" => "true", "role" => "dialog", "tabindex" => "-1"}
          .modal-dialog
            .modal-content
