.container
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      %h1.text-center.login-title= t('.sign_in_msg')
      .account-wall
        = image_tag("profile.jpg", class: "profile-img")
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin"}) do |f|
          = f.email_field :email, placeholder: t('.email_place_holder'), :autofocus => true, id: "email", class: "form-control"
          = f.password_field :password, placeholder: t('.password_place_holder'), id: "password", class: "form-control"

          %button.btn.btn-lg.btn-primary.btn-block{type: "submit"}
            = t('.sign_in_btn_txt')
          - if devise_mapping.rememberable?
            = f.label :rembember_me, class: "checkbox pull-left" do
              = f.check_box :remember_me, value: 1
              = t('.remember_me_lbl')
          = link_to t('.forgot_password_txt'), new_user_password_path, class: "pull-right need-help"
          %span.clearfix
      = link_to t('.create_an_account_txt'), new_user_registration_path, class: "text-center new-account"
