* session id: <%= raw @request.session['session_id'].inspect.html_safe %>
* data: <%= raw PP.pp(@request.session, "") %>
* user name: <%= raw @user_name %>
* user id: <%= raw @user_id %>
* user email: <%= raw @user_email %>
