:javascript
  jQuery(function() {

    monthly_events_created = {
      title: "test title",
      labels : #{monthly_events_created.collect {|a| "#{Date::ABBR_MONTHNAMES[a.created_date.month]} #{a.created_date.year.to_s.slice(2,2)}"}.to_json},
      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : #{monthly_events_created.collect{|a| a.event_count.to_i} }
        }
      ]
    }

    new Chart($("#events_created").get(0).getContext("2d")).Line(monthly_events_created);


    monthly_accounts_created = {
      labels : #{monthly_accounts_created.collect{|a| "#{Date::ABBR_MONTHNAMES[a.created_date.month]} #{a.created_date.year.to_s.slice(2,2)}"}.to_json},
      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : #{monthly_accounts_created.collect{|a| a.event_count.to_i} }
        }
      ]
    }

    new Chart($("#accounts_created").get(0).getContext("2d")).Line(monthly_accounts_created);


  })

%div.chart
  %h3 Events Created (12 Mo)
  %canvas#events_created{:height => "300", :width => "400"}

%div.chart
  %h3 Accounts Created (12 Mo)
  %canvas#accounts_created{:height => "300", :width => "400"}
