<section class="contact">
<article class="contact-tweet">
<strong>Have a quick question?</strong>
<p>Tweet a question to <a href="https://twitter.com/practicaldesk">@Practicaldesk</a> for a quick answer.</p>
</article>
<article class="contact-email">
<strong>Have a longer question?</strong>
<p>Email us at <a href="mailto:help@practicaldesk.com">help@practicaldesk.com</a>.
<p>
</article>
</section>

