!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    = wicked_pdf_stylesheet_link_tag 'pdf/application'
  %body
    %address
      %strong Practicaldesk, LLC
      %br/
      5805 State Bridge Rd.
      %br/
      Suite 434
      %br/
      Johns Creek, GA 30097
