<h2><%= t('.heading')%></h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.submit t('.submit_btn_txt') %></div>
<% end %>

<%= render "users/shared/links" %>
