.card
  .btn-group.pull-right
    = link_to t('.add_new_user') , new_user_invitation_path, class: "btn btn-sm btn-primary card-action"
  %h3 Manage Users
  .card-inner
    %table.table
      - for user in @users
        - if user != current_user
          %tr
            %td
              = link_to user.name, user_path(user)
              - if user.invited_to_sign_up?
                %span.invited Invited
