.card
  .btn-group.pull-right
    = link_to user_path, method: :delete do
      %span.glyphicon.glyphicon-trash

  %h3= @user.name
  .card-inner
    = simple_form_for @user do |f|
      = f.input :role, collection: User::ROLES.values, input_html: {style: "width: 150px;"}
      = f.submit t('.submit') , class: "btn btn-primary"

    %br
    %table.table.table-bordered
      %tr
        %th= t('.email')
        %td= @user.email
      %tr
        %th= t('.added')
        %td= @user.created_at.to_s(:long)
      %tr
        %th= t('.last_sign_in')
        %td
          - if @user.last_sign_in_at.present?
            = @user.last_sign_in_at.to_s(:long)
          - else
            = t('.never_signed_in')

    - if @user.invited_to_sign_up?
      %p
        = link_to t('.resend_invitation') , resend_invitation_user_path, method: :post
