%strong #{event_name.capitalize} details:

%table
  %tr
    %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: right;"}
      #{client_name.capitalize}:
    %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: left;"}
      #{client.name}
  - if client.mobile_number.present?
    %tr
      %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: right;"}
        = t(".mobile_txt")
      %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: left;"}
        #{client.human_mobile_number}

  - if client.phone_number.present?
    %tr
      %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: right;"}
        = t(".phone_txt")
      %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: left;"}
        #{client.human_phone_number}

  - if client.email.present?
    %tr
      %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: right;"}
        = t(".email_txt")
      %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: left;"}
        #{client.email}
  %tr
    %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: right;"}
      = t(".date_&_time_txt")
    %td{style: "padding: 2px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.3em; text-align: left;"}
      #{formatted_event_datetime(@event)}
