- content_for :header do
  = t(".header_info",event_name: indefinite_articlerize(event_name).capitalize)
%p
  - if was_rescheduled?
    = t(".was_reschedule_if_info_txt",event_name: event_name, client_name: client.name)
    - if changed_on_the_same_day?
      %span{style: "color: #ff3627; font-weight: bold"} #{old_formatted_start_time}
      to
      %span{style: "color: #149824; font-weight: bold"} #{new_formatted_start_time}
      on #{new_formatted_start_date}.
    - else
      %span{style: "color: #ff3627; font-weight: bold"} #{old_formatted_datetime}
      to
      %span{style: "color: #149824; font-weight: bold"} #{old_formatted_datetime}.

- if updater_name
  %p= t(".updater_name_if_info_txt",updater_name: updater_name)

%hr{style: "margin-top: 30px; border:none; border-top: 1px solid #ccc;"}/

= render 'event_details'
