- content_for :header do
  = t('.header_info', event_name: indefinite_articlerize(event_name).capitalize)

- if updater_name
  %p
    = t('.info_txt', event_name: event_name, client_name: client.name, updater_name: updater_name)

%hr{style: "margin-top: 30px; border:none; border-top: 1px solid #ccc;"}/

= render 'event_details'
