- content_for :header do
  = t('.header_info', event_name: indefinite_articlerize(event_name).capitalize)

%p
  - if creator_name
    = t('.if_info_txt', event_name: indefinite_articlerize(event_name).capitalize, creator_name: creator_name, date: formatted_event_datetime(@event), client_name: client.name)
  - else
    = t('.else_info_txt', event_name: indefinite_articlerize(event_name).capitalize, client_name: client.name, date: formatted_event_datetime(@event))

%hr{style: "margin-top: 30px; border:none; border-top: 1px solid #ccc;"}/

= render 'event_details'
