= simple_form_for @schedule, wrapper: :bootstrap_horizontal, html: {class: 'form-horizontal schedule-form', role: 'form'} do |f|

  = f.input :name, required: true, hint: t('.name_hint')

  .form-group
    = f.label :schedulable_hours, t('.schedulable_hours'), required: true, class: "control-label col-xs-3 col-sm-3 col-md-3 col-lg-3"
    .col-lg-3
      = f.select :starts_at, hour_options, {}, class: 'form-control'
    .col-lg-3
      = f.select :ends_at, hour_options, {}, class: 'form-control'
    .help-block.schedulable-hours.col-lg-offset-3
      .added-margin
        = t('.hours_hint')

  = f.input :frequency, collection: frequency_options, hint: t(".frequency_hint", event_name: event_name.pluralize)
  = f.input :length, collection: length_options, hint: t(".length_hint", event_name: event_name.pluralize)
  .form-group
    = f.label :business_days, class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"
    .col-xs-7.col-sm-7.col-md-7.col-lg-7
      - business_days_options.each do |day, value|
        %span{class: 'checkbox checkbox-inline'}
          = f.label :business_days, value: value do
            = f.check_box :business_days, { multiple: true, checked: f.object.business_days.include?(value.to_s) }, value, nil
            = day
    .help-block.business-days.col-lg-offset-3
      .added-margin
        = t(".day_hint")

  .form-group
    = f.label :reminder_preferences, class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"
    .col-xs-9.col-sm-9.col-md-9.col-lg-9
      - reminder_preference_options.each do |option, value|
        %span{class: 'checkbox checkbox-inline'}
          = f.label :reminder_preference, value: value do
            = f.check_box :reminder_preferences, {multiple: true, checked: f.object.reminder_preferences.include?(value.to_s)}, value, nil
            = option.to_s.dasherize
    .help-block.col-lg-offset-3
      .added-margin
        = t('.communication_hint')
  .form-group
    = f.label :notes_enabled, class: "col-xs-3 col-sm-3 col-md-3 col-lg-3"
    .col-xs-9.col-sm-9.col-md-9.col-lg-9
      = f.check_box :notes_enabled
      = t('.notes_enabled_hint')

  = decorated_submit(f)
