.bs-callout.bs-callout-danger
  %h4= t('.heading')
  %p= t('.info')

  = link_to t('.delete_schedule_btn'), schedule_path, class: "btn btn-danger btn-lg", method: "delete", confirm: t('.confirm_msg')



