.card
  %h3= t(".schedules")

  .tab-content
    .card-inner.large-padding
      %table
        - @schedules.each do |schedule|
          %tr
            %td
              %strong= link_to_with_icon schedule.name, edit_schedule_path(schedule), "calendar"

      %br
      = link_to t('.add_new_schedule'), new_schedule_path, class: "btn btn-primary"

      = link_to t('.unavailable_mode'), root_path(unavailable_mode: unavailable_mode? ? false : true), class: "btn btn-warning"
