- if Rails.env == 'production'
  :javascript
    var _kmq = _kmq || [];
    var _kmk = _kmk || '2b27831d2c60e2933d6f76673e3b096cfe92dab8';
    function _kms(u){
      setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0],
        s = d.createElement('script');
        s.type = 'text/javascript'; s.async = true; s.src = u;
        f.parentNode.insertBefore(s, f);
      }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
