- if current_user
  %ul.nav.navbar-nav
    %li{:class => 'dropdown'}
      %a.dropdown-toggle{href: schedules_path, 'data-toggle' => 'dropdown'}
        = t('.schedules')
        %b{class: 'caret'}
      %ul{class: 'dropdown-menu'}
        - if current_user.admin?
          %li
            = link_to t('.manage'), schedules_path
          %li{class: 'divider'}
        %li
          = link_to t('.all_schedules'), root_path(schedule: 'all')
          - current_account.schedules.order('name').each do |schedule|
            = link_to schedule.name, root_path(schedule: schedule.id)

    %li= link_to "#{client_name.capitalize.pluralize}", "/clients"
    %li= link_to "Reports", "/reports"
    %li= link_to "Support", "https://practicaldesk.freshdesk.com"

  %ul.nav.navbar-nav.navbar-right
    -if current_account.trial_about_to_expire?
      .navbar-text.alert.alert-warning
        %strong= t('.trial_perior_expiring_title')
        = t('.trial_perior_expiring', trial_days: current_account.trial_period_end_date_on_days )
    %li{:class => 'dropdown'}
      %a.dropdown-toggle{href: '#', 'data-toggle' => 'dropdown'}
        = current_user.name
        %b{class: 'caret'}
      %ul{class: 'dropdown-menu'}
        %li
          = link_to t('.my_profile'), edit_profile_path
        %li
          = link_to t('.account_settings'), edit_account_path
        %li
          = link_to t('.logout'), destroy_user_session_path, method: "delete"
