%ul.registration-nav.navbar-right
  %li= link_to "See pricing & start free trial", new_user_registration_path
  %li= link_to "Support", "https://practicaldesk.freshdesk.com"
  %li= link_to "Log in to an existing account", new_user_session_path, class: "btn btn-success"
