%h3=h @schedule.name

%ul.nav.nav-tabs
  %li{class: is_active?('schedules', 'edit') }
    = link_to t('.settings'), edit_schedule_path(@schedule)
  %li{class: is_active?('schedule_subscriptions', 'index') }
    = link_to t('.subscriptions'), schedule_schedule_subscriptions_path(@schedule)
  %li{class: is_active?('schedule_timings', 'index') }
    = link_to t('.timing'), schedule_schedule_timings_path(@schedule)
  %li{class: is_active?('scripts', 'index') }
    = link_to t('.scripts'), schedule_scripts_path(@schedule)
  %li{class: is_active?('caller_ids', 'show') }
    = link_to t('.caller_id'), schedule_caller_id_path(@schedule)
  %li{class: is_active?('schedules', 'show') }
    = link_to t('.options'), schedule_path(@schedule)
