%table.table
  %tr
    %th
      = t('.date')
    %th
      = t('.time')
    %th
      = t('.created_by')
    %th
  - for event in @client_events
    %tr
      %td= formatted_event_date(event)
      %td= formatted_event_time(event)
      %td
        - User.with_deleted do
          = event.user.name
      %td
        = link_to t('.view_appointment'), event_path(event)

= paginate(@client_events)

