= simple_form_for @client, wrapper: :bootstrap_horizontal, html: { class: 'form-horizontal', role: 'form'} do |f|
  = f.input :name, required: true
  = f.input :email, required: true
  = f.input :mobile_number, input_html: {value: @client.human_mobile_number}, required: false, hint: t('.edit_mobile_hint')
  = f.input :phone_number, input_html: {value: @client.human_phone_number}, required: false
  = decorated_submit(f)
