.btn-group.pull-right
  = link_to client_path, method: :delete, data: {confirm: t('.delete_confirmation')} do
    %span.glyphicon.glyphicon-trash

%h3
  = t('.edit_heading')
  = client_name
.card-inner.large-padding
  = render partial: 'form'
