%h3.clearfix
  = t('.manage_clients',client_name: client_name.pluralize)

  .col-lg-4.pull-right
    = form_tag :clients, method: :get, class: 'form-search' do
      .input-group
        - if params[:search].present?
          .input-group-btn
            %button{class: 'btn btn-default btn-success', type: "reset", id: "clearSearch"}= t('.clear')
        %input.form-control{type: 'text', placeholder: t(".search_text"), name: 'search', id: "searchField", value: params[:search]}
          .input-group-btn
            %button{class: 'btn btn-default', type: "submit"}
              = t('.go_btn')


%table{class: 'table table-bordered table-striped'}
  %tr
    %th= t('.name')
    %th= t('.mobile_number')
    %th= t('.phone_number')
    %th= t('.email')
    %th

  - @clients.each do |client|
    %tr
      %td= link_to client.name, client_path(client)
      %td= client.human_mobile_number
      %td= client.human_phone_number
      %td= client.email
      %td
        = link_to t('.edit_link'), edit_client_path(client)
        &nbsp;|&nbsp;
        = link_to t('.delete_link'), client_path(client), method: :delete, data: {confirm: t('.delete_confirmation')}

.text-center
  = paginate @clients

