.btn-group.pull-right
  = link_to client_path, method: :delete, data: {confirm: t('.delete_confirmation')} do
    %span.glyphicon.glyphicon-trash

%h3= @client.name
.card-inner
  %p
    %strong= t('.mobile_number')
    = @client.human_mobile_number
  %p
    %strong= t('.phone_number')
    = @client.human_phone_number
  %p
    %strong= t('.email')
    = @client.email

  %br

  %ul.nav.nav-tabs
    %li{class: event_tab_active?(!params[:upcoming]) }
      = link_to t('.past_events_txt', event_name: event_name.pluralize), client_path(@client)
    %li{class: event_tab_active?(!!params[:upcoming]) }
      = link_to t('.upcoming_events_txt', event_name: event_name.pluralize), client_path(@client, upcoming: true)
  .tab-content
    .tab-pane#settings.active
      .card-inner.large-padding
        - if @client.events.any?
          = render 'events'
        - else
          %p= t('.client_has_not_been_scheduled', client_name: client_name)


