.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
  %h4.modal-title
    = link_to_with_icon @event.client_name, event_path(@event), "link"
.modal-body
  %table.table.table-no-border
    %tr
      %th= t('.when')
      %td
        = formatted_event_datetime(@event)
    %tr
      %th
        = t('.status')
      %td
        = event_status(@event)
    %tr
      - unless account_has_one_schedule?
        %th= t('.schedule')
        %td
          = @event.schedule.name
    %tr
      %th= t('.reminder_times')
      %td
        = reminder_times

  - if @event.notes.any?
    .text-center
      = link_to "Notes", event_path(@event)
      %span.badge
        = @event.notes.count

.modal-footer
  = render 'settings_menu'
  = render 'status_menu', {button: 'close'}
