= render "event_javascript"
= form_for @event, as: :event, remote: true, html: {class: "form-horizontal", role: "form"} do |f|
  .modal-header
    %a.close{"data-dismiss" => "modal"} &times;
    %h4.modal-title= t('.new_appointment_txt')
  .modal-body
    - if @event.expired_time
      .alert.alert-warning= t('.expire_txt')
    = form_errors(@event)
    = f.fields_for :client_attributes, @event.client do |client_fields|
      .form-group
        = label_tag "clients-menu", "Client Name", class: "col-lg-3 control-label"
        .col-lg-8
          = client_fields.text_field :name, class: "form-control typehead", id: "clients-menu"
      .form-group
        = client_fields.label :reminder_preferences, "Remind via:", class: "col-lg-3 control-label"
        .col-lg-8
          - @event.schedule.reminder_preferences.each do |pref|
            %span{class: 'checkbox checkbox-inline'}
              = f.label :reminder_preferences, value: pref do
                = f.check_box :reminder_preferences, {multiple: true, checked: true}, pref, nil
                = Schedule::REMINDER_PREFERENCES.invert[pref.to_i].to_s.humanize

      #contactFields
        .form-group
          = client_fields.label :email, class: "col-lg-3 control-label"
          .col-lg-8
            = client_fields.email_field :email, class: "form-control"
        .form-group
          = client_fields.label :mobile_number, class: "col-lg-3 control-label"
          .col-lg-8
            = client_fields.telephone_field :mobile_number, class: "form-control"

      = client_fields.hidden_field :id

      = f.hidden_field :schedule_id
      = f.hidden_field :all_day

      - if @event.schedule.script_groups.many?
        = f.select :script_group_id, @event.schedule.script_groups.collect {|s| [s.id, s.name]}

      - if @event.schedule_timings.many?
        .form-group
          = client_fields.label :schedule_timing_id, "Timing", class: "col-lg-3 control-label"
          .col-lg-8
            = f.select :schedule_timing_id, @event.schedule_timings.collect {|s| [s.name, s.id]}, {selected: @event.default_timing.try(:id)}, class: "form-control"

    .form-group
      = f.label :start_time, class: "col-lg-3 control-label"
      .col-lg-8.event-datetime
        = formatted_event_datetime(@event)
        = f.hidden_field :start_time

  .modal-footer
    %button.btn{"aria-hidden" => "true", "type" => "button", "data-dismiss" => "modal"}= t('.close_btn_txt')
    %button.btn.btn-primary{type: 'submit'}= t('.submit_btn_txt')

