#settings_gear
  .btn-group
    = link_to "#", "class" => "dropdown-toggle", "data-toggle" => "dropdown" do
      %span{class: "glyphicon glyphicon-cog"}
    %ul.dropdown-menu
      %li

        = link_to t('.delete_link_txt',event_name: event_name), event_path(@event), method: :delete, remote: true
