- if @event.available_transitions.any?
  .btn-group
    - if button == 'close'
      %button.btn-default.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}= t('.close')
    - else
      %button.btn.btn-default{onclick: "window.history.back()"}= t('.back')

    %button.btn.btn-default.dropdown-toggle{"type" => "button", "data-toggle" => "dropdown"}
      = event_state
      %span{"class" => "caret"}
    %ul.dropdown-menu.transitions
      - if @event.available_transitions.include?("confirmed")
        %li
          = link_to t('.confirm_link_txt'), confirm_event_path(@event, current_action: action_name), remote: true

      - if @event.available_transitions.include?("canceled")
        %li
          = link_to t('.cancel_link_txt'), cancel_event_path(@event, current_action: action_name), remote: true

      - if @event.available_transitions.include?("show")
        %li
          = link_to t('.show_link_txt'), showed_event_path(@event, current_action: action_name), remote: true

      - if @event.available_transitions.include?("no_show")
        %li
          = link_to t('.no_show_link_txt'), no_show_event_path(@event, current_action: action_name), remote: true

- else
  - if button == 'close'
    %button.btn-default.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}= t('.close')
  - else
    %button.btn.btn-default{onclick: "window.history.back()"}= t('.back')

