:javascript
  $("#event_period").change(function() {
    updateFrequencyMenu();
  })

  var frequency_options = {
    "yearly": {"year": 1, "2 years": 2, "3 years": 3, "4 years": 4, "5 years": 5},
    "monthly": {"month": 1, "2 months": 2, "3 months": 3, "4 months": 4, "5 months": 5, "6 months": 6, "7 months": 7, "8 months": 8, "9 months": 9, "10 months": 10, "11 months": 11, "12 months": 12, "13 months": 13, "14 months": 14, "15 months": 15, "16 months": 16, "17 months": 17, "18 months": 18, "19 months": 19, "20 months": 20, "21 months": 21, "22 months": 22, "23 months": 23, "24 months": 24, "25 months": 25, "26 months": 26, "27 months": 27, "28 months": 28, "29 months": 29, "30 months": 30, "31 months": 31, "32 months": 32, "33 months": 33, "34 months": 34, "35 months": 35, "36 months": 36},
    "weekly": {"week": 1, "2 weeks": 2, "3 weeks": 3, "4 weeks": 4, "5 weeks": 5, "6 weeks": 6, "7 weeks": 7, "8 weeks": 8, "9 weeks": 9, "10 weeks": 10, "11 weeks": 11, "12 weeks": 12, "13 weeks": 13, "14 weeks": 14, "15 weeks": 15, "16 weeks": 16, "17 weeks": 17, "18 weeks": 18, "19 weeks": 19, "20 weeks": 20, "21 weeks": 21, "22 weeks": 22, "23 weeks": 23, "24 weeks": 24, "25 weeks": 25, "26 weeks": 26, "27 weeks": 27, "28 weeks": 28, "29 weeks": 29, "30 weeks": 30, "31 weeks": 31, "32 weeks": 32, "33 weeks": 33, "34 weeks": 34, "35 weeks": 35, "36 weeks": 36},
    "daily": {"day": 1, "2 days": 2, "3 days": 3, "4 days": 4, "5 days": 5, "6 days": 6, "7 days": 7, "8 days": 8, "9 days": 9, "10 days": 10, "11 days": 11, "12 days": 12, "13 days": 13, "14 days": 14, "15 days": 15, "16 days": 16, "17 days": 17, "18 days": 18, "19 days": 19, "20 days": 20, "21 days": 21, "22 days": 22, "23 days": 23, "24 days": 24, "25 days": 25, "26 days": 26, "27 days": 27, "28 days": 28, "29 days": 29, "30 days": 30}
  };

  function updateFrequencyMenu() {
    event_period = $("#event_period").val();
    var $frequency = $("#event_frequency");
    $frequency.empty(); // remove old options
    if(event_period) {
      $.each(frequency_options[event_period], function(key, value) {
        $frequency.append($("<option></option>")
           .attr("value", value).text(key));
      });
    }
  }
  updateFrequencyMenu();


= form_for @event, as: :event, remote: true, html: {class: "form-horizontal", role: "form"} do |f|
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h4.modal-title= t('.add')
  .modal-body
    - if @event.expired_time
      .alert.alert-warning= t('.expired_time')
    - if @event.errors.any?
      #error_explanation
        %h2= t('.errors', errors: pluralize(@event.errors.count, "error"))
        %ul
          - @event.errors.full_messages.each do |msg|
            %li= msg

    = f.hidden_field :schedule_id
    = f.hidden_field :all_day
    = f.hidden_field :unavailable_time, value: true

    .form-group
      = f.label :title, class: "col-lg-3 control-label"
      .col-lg-8
        = f.text_field :title, class: "form-control"

    .form-group
      = f.label :start_time, class: "col-lg-3 control-label"
      .col-lg-8.event-datetime
        = formatted_event_datetime(@event)
        = end_time_menu(@event)
        = f.hidden_field :start_time
        %button{id: "repeat", type: "button", style: "font-size: 0.8em"}
          Repeat

  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}= t('.close')
    %button.btn.btn-primary{type: 'submit'}= t('.save')
