= form_for @event, remote: true, html: {class: "form-horizontal", role: "form"} do |f|
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h4.modal-title= t('.unavailable_time')
  .modal-body
    %table.table.table-no-border
      %tr
        %th= t('.title')
        %td= @event.title
      %tr
        %th= t('.when')
        %td
          = formatted_event_datetime(@event)
      %tr
        - unless account_has_one_schedule?
          %th= t('.schedule')
          %td
            = @event.schedule.name

  .modal-footer
    - if current_user.admin?
      = render 'settings_menu'
    %button.btn-default.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}= t('.close')



