- if @event.persisted?
  $('#event-modal').modal('hide');
  $('#calendar').fullCalendar('refetchEvents');
- else
  $('.modal-content').html("#{j render partial: 'form'}");
  $("#contactFields").show();
