%h3= event_title

.tab-content
  .card-inner.large-padding
    #event-controls
      = render partial: "status_menu", locals: {button: 'back'}
      &nbsp;&nbsp;
      = link_to t('.edit_client'), edit_client_path(@event.client), class: "btn btn-success"
      - if Rails.env.development?
        = link_to "Manual Triggers", event_manual_triggers_path(@event), class: "btn btn-warning"

    .event-section
      %table.event
        %tr
          %th= t(".date_txt",event_name: event_name.humanize)
          %td= formatted_event_date(@event)
        %tr
          %th= t(".time_txt")
          %td= formatted_event_time(@event)
        %tr
          %th= t(".status_txt")
          %td= event_status(@event)
        %tr
          %th= t(".mobile_txt")
          %td= @event.client_human_mobile_number
        %tr
          %th= t(".phone_txt")
          %td= @event.client_human_phone_number
        %tr
          %th= t(".email_txt")
          %td= @event.client_email
        %tr
          %th= t(".created_by")
          %td
            - User.with_deleted do
              = @event.user.name

    %div
      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "notes", "data-toggle" => "tab", :href => "#notes", :role => "tab"} Notes
        %li{:role => "presentation"}
          %a{"aria-controls" => "appointments", "data-toggle" => "tab", :href => "#appointments", :role => "tab"} Appointment Logs
      
      / Tab panes
      .tab-content
        #notes.tab-pane.active{:role => "tabpanel"}
          - if @event.notes_enabled?
            .event-section
              #notes-section
                - if @notes.any?
                  = render @notes

            = form_for @note, url: event_notes_path(@event), method: :post, remote: true do |f|
              .form-group
                = f.text_area :description, class: "form-control", placeholder: "Type a note...", rows: "5"
              #note-errors.help-block.fade &nbsp;
              = f.submit class: 'btn btn-default'

        #appointments.tab-pane{:role => "tabpanel"}
          .event-section
            %h4= t('.event_log', event_name: event_name)
            = form_tag nil, style: "float: right" do
              = check_box_tag "internal_communication"
              = label_tag "show internal communication"
            %br
            %table.event.table.table-striped
              %tr
                %th= t('.who')
                %th= t('.what')
                %th= t('.when')

              - for event_version in @event_versions
                %tr{class: "#{event_version.target}"}
                  %td= event_version.author(@event)
                  %td= event_version.action.html_safe
                  %td.text-nowrap= event_version.date
