= simple_form_for [@schedule, @sms_scripts], wrapper: 'wide_modal', remote: true, html: {class: 'form-horizontal', role: 'form'} do |f|
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h4.modal-title= t('.heading')
  .modal-body
    %ul.nav.nav-tabs
      %li.active
        = link_to t('.reminder_msg'), "#reminder_message", "data-toggle" => "tab"
      %li
        = link_to t('.confirmation_msg'), "#confirmation_message", "data-toggle" => "tab"
      %li
        = link_to t('.cancellation_msg'), "#cancellation_message", "data-toggle" => "tab"
      %li
        = link_to t('.request_contact_msg'), "#req_contact_message", "data-toggle" => "tab"

    .tab-content
      .tab-pane#reminder_message.active
        .card-inner.large-padding
          = f.input :message, label: t('.reminder_msg_lbl'), hint: t('.reminder_msg_hint',event_name: event_name, client_name: client_name), input_html: {rows: 7}
          = decorated_submit(f, {value: t('.update_btn_txt')})
      .tab-pane#confirmation_message
        .card-inner.large-padding
          = f.input :confirmation_message, label: t('.confirmation_msg_lbl'), hint: t('.confirmation_msg_hint',event_name: event_name), input_html: {rows: 7}
          = decorated_submit(f, {value: t('.update_btn_txt')})
      .tab-pane#cancellation_message
        .card-inner.large-padding
          = f.input :cancellation_message, label: t('.cancellation_msg_lbl'), hint: t('.reminder_msg_lbl'), hint: t('.cancellation_msg_hint',event_name: event_name), input_html: {rows: 7}
          = decorated_submit(f, {value: t('.update_btn_txt')})
      .tab-pane#req_contact_message
        .card-inner.large-padding
          = f.input :requested_contact_message, label: t('.request_contact_msg_lbl'), hint: t('.reminder_msg_lbl'), hint: t('.request_msg_hint', client_name: client_name), input_html: {rows: 7}
          = decorated_submit(f, {value: t('.update_btn_txt')})
