!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= t('.title')
    = stylesheet_link_tag "public/application", :media => "all"
    :css
      .quote {
        color: rgba(0,0,0,.1);
        text-align: center;
        margin-bottom: 30px;
      }
    %body
      .container{style: "padding-bottom:100px; padding-top:50px;"}
        .row
          .col-md-8.col-md-offset-2
            .quote
              .active.item
                = image_tag "supported_browsers.png"
                %blockquote
                  = t('.message_html')
      }
      = render 'shared/analytics'
      = render 'shared/kissmetrics'

