A new account was created.

Name: <%= @account_owner.name %>
Email: <%= @account_owner.email %>
Org: <%= @account_owner.account.name %>
Subscription plan: <%= @account_owner.try(:subscription_plan_name) %>
Trial period ends: <%= @account_owner.trial_period_ends_on %>

