= simple_form_for [@schedule, @email_scripts] , wrapper: 'wide_modal', remote: true, html: {class: 'form-horizontal', role: 'form'} do |f|
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h4.modal-title= t('.heading')
  .modal-body
    %ul.nav.nav-tabs
      %li.active
        = link_to t('.notification'), "#notification", "data-toggle" => "tab"
      %li
        = link_to t('.cancellation'), "#cancellation", "data-toggle" => "tab"
      %li
        = link_to t('.reschedule'), "#reschedule", "data-toggle" => "tab"

    .tab-content
      .tab-pane#notification.active
        .card-inner.large-padding
          = f.input :user_id, label: t('.reply_to_lbl'), collection: @schedule.subscribers.collect {|p| [ p.name, p.id ] }, hint: t('.reply_to_hint', client_name: client_name)
          = f.input :subject, hint: t('.notification_subject_hint', event_name: event_name)
          = f.input :message, input_html: {rows: 10}
          = decorated_submit(f, {value: t('.update_btn_txt')})
      .tab-pane#cancellation
        .card-inner.large-padding
          = f.input :cancellation_subject, label: t('.subject_lbl'), hint: t('.cancellation_subject_hint')
          = f.input :cancellation_message, label: t('.message_lbl'), input_html: {rows: 10}
          = decorated_submit(f, {value: t('.update_btn_txt')})
      .tab-pane#reschedule
        .card-inner.large-padding
          = f.input :reschedule_subject, label: t('.subject_lbl'), hint: t('.reschedule_subject_hint')
          = f.input :reschedule_message, label: t('.message_lbl'), input_html: {rows: 10}
          = decorated_submit(f, {value: t('.update_btn_txt')})
