.card
  %h3= t(".heading")

  .tab-content
    .card-inner.large-padding
      - unless current_account.trial_expired?
        .billing-section
          .section-label= t('.trial_title')
          .section-content
            %strong #{current_account.trial_period_end_date}
            %p #{current_account.trial_period_end_date_on_days} from today.
      .billing-section
        = plan_selector_button(@subscription_plan)
        .section-label= t('.plan_title')
        .section-content
          %strong= plan_name(@subscription_plan)
          - if @subscription_plan
            %p= subscription_info(@subscription_plan)
            = progress_bar(@subscription_plan)
            %p= remaining_events(@subscription_plan)
          - else
            %p &nbsp;
      .billing-section
        = update_payment_button(@subscription_plan)
        .section-label= t('.payment_title')
        .section-content
          - if current_account.stripe_deleted?
            %strong= t('.no_info')
            %p &nbsp;
          - else
            %p= credit_card_info
            %p= next_payment_due
      .billing-section
        .section-label= t('.payment_history')
        .section-content
          - if @charges.any?
            .table-responsive
              %table.table.table-striped.table-bordered.table-hover
                %thead
                  %td= t('.charged_at')
                  %td= t('.description')
                  %td= t('.statement')
                  %td= t('.card_info')
                  %td= t('.amount_with_currency')
                %tbody
                  - @charges.each do |charge|
                    %tr
                      %td= charge.charged_at
                      %td= charge.description
                      %td= charge.statement
                      %td= charge.card_info
                      %td= charge.amount_with_currency
          - else
            %strong= t('.no_history')
            %p &nbsp;
      .billing-section
        .section-label= t('.cancel_account')
        .section-content
          = link_to t('.cancel_account'), account_path, class: "action-button btn btn-default btn-danger", :data => {:confirm => 'Are you sure?'}, :method => :delete
          %p &nbsp;
