#credit-card-errors{:style => "display:none"}
  #stripe-error-message.alert-message.block-message.error
.form-group
  = label_tag :credit_card_number, "Credit card number", class: "col-sm-4 control-label"
  .col-sm-7
    = text_field_tag :credit_card_number, params[:credit_card_number], class: "form-control", disabled: true
.form-group
  = label_tag :cvv, "Security code (CVV)", class: "col-sm-4 control-label"
  .col-sm-3
    = text_field_tag :cvv, params[:cvv], class: "small form-control", disabled: true
.form-group
  = label_tag :expire_data, "Expiration date", class: "col-sm-4 control-label"
  .row
    .col-sm-3
      = select_tag :expiration_month, expiration_month_options, class: "form-control"
    .col-sm-3
      = select_tag :expiration_year, expiration_year_options, class: "form-control"
