- content_for :header do
  = javascript_include_tag "https://js.stripe.com/v2"
  = javascript_tag "Stripe.setPublishableKey('#{Rails.configuration.stripe[:publishable_key]}');"

.card
  %h3= t(".heading")
  .tab-content
    .card-inner.large-padding
      = form_for :account, method: :put, url: payments_path, html: {class: "form-horizontal", role: "form"} do |f|
        = f.hidden_field :stripe_token, id: "user_account_attributes_stripe_token"
        = f.hidden_field :last_4_digits, id: "user_account_attributes_last_4_digits"
        #credit-card
          = render partial: "credit_card"
        .form-group
          .col-sm-4.col-sm-offset-4
            = f.submit(class: "btn btn-primary")
            = link_to "Cancel", billing_path
