%h2= t('.heading')
= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  %div
    = f.label :password, t('.new_password_lbl')
    %br/
    = f.password_field :password, :autofocus => true
  %div
    = f.label :password_confirmation, t('.confirm_password_lbl')
    %br/
    = f.password_field :password_confirmation
  %div= f.submit t('.submit_btn_txt')
= render "users/shared/links"