.container
  .row
    .col-sm-6.col-md-4.col-md-offset-4
      %h1.text-center.login-title
      .account-wall
        .row.reset-instructions
          %h4= t('.heading')
          %p= t('.info')
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: "form-signin"}) do |f|
          = devise_error_messages!
          = f.email_field :email, placeholder: t('.email_place_holder'), :autofocus => true, id: "email", class: "form-control", style: "margin-bottom: 10px;"

          %button.btn.btn-primary.btn-block{type: "submit"}
            = t('.submit_btn_txt')

          %span.clearfix
          %br
          %p
            = link_to t('.return_link_txt'), new_user_session_path
