= simple_form_for [@schedule, @schedule_subscription], wrapper: 'modal_form', remote: true, html: {class: 'form-horizontal', role: 'form'} do |f|
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h4.modal-title= t('.heading')
  .modal-body
    = f.input :user_id, collection: @schedule.subscribers.elegible_for_adding.collect {|p| [ p.name, p.id ] }
    = decorated_submit(f, {value: t('.notify_btn')})

