- if schedule_subscription.persisted?
  %li{id: "sn_#{schedule_subscription.id}"}
    = schedule_subscription.user.name
    &nbsp;
    = link_to schedule_schedule_subscription_path(@schedule, schedule_subscription), method: :delete, remote: true, class: 'trash' do
      %span.glyphicon.glyphicon-trash

