<% if @schedule_subscription.persisted? %>
  $('#notifiableModal').modal('hide');
  $('#usersToNotify').append("<%=j render partial: 'schedule_subscriptions/schedule_subscription', locals: {schedule_subscription: @schedule_subscription} %>");
  $('#noUsersAlert').remove();
  $("#usersToNotify li").last().effect('highlight');
<% else %>
  $("notifiableModal .modal-content").html("<%=j render 'form' %>");
<% end %>
