.card
  = render 'shared/schedule_tabs'
  .tab-content
    .tab-pane#settings.active
      .card-inner.large-padding
        %p
          = t('.intro', event_name: event_name, plural_event_name: event_name.pluralize)

        - if @schedule.subscribers.blank?
          #noUsersAlert.alert.alert-info
            = t('.alert_txt')

        %ul#usersToNotify
          = render partial: 'schedule_subscriptions/schedule_subscription', collection: @schedule.schedule_subscriptions

        = link_to t('.notify_btn'), new_schedule_schedule_subscription_path(@schedule), "data-toggle" => "modal", "data-target" => "#notifiableModal", class: "btn btn-default"

        #notifiableModal{"class" => "modal fade", "aria-hidden" => "true", "role" => "dialog", "tabindex" => "-1"}
          .modal-dialog
            .modal-content
