%h1 We're here to help.

%ul
  %li 
    Email us at 
    = mail_to 'support@practicaldesk.com', 'support@practicaldesk.com', encode: "javascript"
  %li
    You can also get a quick reply on 
    = link_to "Twitter", "https://twitter.com/practicaldesk"
  %li
    Or call 404-969-5121

