%h2 Welcome!
%p Thank you for signing up. 
%p
  The tutorial will show you:
%ul
  %li How to customize your account.
  %li How to customize a schedule.
  %li How to add a #{client_name.pluralize}.
  %li How to create #{event_name.pluralize}.
  %li How to update #{event_name.pluralize}.
  %li How to customize your #{client_name} messages.
%p 
  %a{href: "#carousel-tutorial", "data-slide-to" => "1"} Lets begin!
