%h3 Customizing a Schedule
%p #{event_name.capitalize.pluralize} are grouped into schedules. Customize the schedule hours (i.e. 9AM to 6PM), how often #{event_name.pluralize} occur (i.e. every 15 minutes) and the average #{event_name} length (i.e. 1 hour).
