.onboarding
  #close-button
    = link_to "#" do
      %span.glyphicon.glyphicon-remove-circle
      CLOSE
      
  #carousel-tutorial.carousel.slide{"data-interval" => "false", "data-wrap" => "false", "data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-tutorial"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-tutorial"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-tutorial"}
    / Wrapper for slides
    .carousel-inner{:role => "listbox"}
      .item.active
        .inner
          = render "onboarding/intro"

      .item
        .inner
          = render "onboarding/account"

      .item
        .inner
          = render "onboarding/schedule"

    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-tutorial", :role => "button"}
      %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-tutorial", :role => "button"}
      %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
      %span.sr-only Next
