<%= t('.welcome', name: @account.name) %>

<%= t('.info') %>

<%= t('.receipt') %> - <%= @charge.charged_at %>

<%= t('.user') %>: <%= @account.name %>
<%= t('.plan') %>: <%= @subscription_plan.name %>
<%= t('.amount') %>: <%= @charge.amount_with_currency %>
<%= t('.charged_at') %>: <%= @charge.card_info %>
<%= t('.transaction_id') %>: <%= @charge.sequential_id %>

Practicaldesk, LLC
5805 State Bridge Rd.
Suite 434
Johns Creek, GA 30097
