= simple_form_for resource, url: invitation_path(resource_name), wrapper: :bootstrap_horizontal, html: {class: 'form-horizontal', role: 'form'} do |f|
  = f.input :invitation_token, as: :hidden
  = f.input :first_name, required: true
  = f.input :last_name, required: true
  = f.input :email, required: true
  - if %w{update edit}.include?(controller.action_name)
    = f.input :password
    = f.input :password_confirmation
    = decorated_submit(f, value: t('.registration_btn'))
  - else
    = decorated_submit(f, value: t('.send_btn'))
