.container.warm-colors
  .row
    .col-sm-6.col-md-6.col-md-offset-3
      .wrapper
        .card
          %h3= t('.heading')
          .card-inner.large-padding
            .howitworks
              %p= t('.first_pera')
              = render 'form'
