.event_details{style: "float: left; width: 70%"}
  = raw render text: @event.email_confirmation_request_message
%table.event-rsvp-box-status{cellpadding: "0", cellspacing: "0", style: "background-color:#eee;float:right;width:160px;"}
  %tr
    %td{style: "border-top:8px solid #eee;border-bottom:8px solid #eee;border-left:8px solid #eee;border-right:8px solid #eee; background:#eee;text-align:center;"}
      %div{style: "font-weight:normal;font-size:16px;color:#545454!important;"}= t('.confirmation_info')
      %div{style: "font-size:11px;line-height:15px;"}
      %div{style: "border-top:4px solid #eee; background:#eee;"}
        %table.event-rsvp-box-actions{cellpadding: "0", cellspacing: "0", style: "width:100%;"}
          %tr
            %td{style: "width:50%;padding-right:4px;"}
              %div{style: "display:block;border:1px solid #9d1328;background-color:#e9003c;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;text-align:center;"}
                %span.button-gradient{style: "background-color:#e9003c;display:block;"}
                  %a.button-link{href: "#{confirmation_link}", style: "border-color:#e9003c;border-width:5px 18px;border-style:solid;font-family:helvetica,arial,sans-serif;font-weight:bold;white-space:nowrap;color:#fff!important;display:block;text-decoration:none;text-align:center;cursor:pointer;"}
                    %font{color: "#fff"}
                      %nobr= t('.confirm_txt')
            %td{style: "width:50%;"}
              %div{style: "display:block;border:1px solid #9d1328;background-color:#e9003c;-moz-border-radius: 3px 3px 3px 3px;-webkit-border-radius: 3px 3px 3px 3px;border-radius: 3px 3px 3px 3px;text-align:center;"}
                %span.button-gradient{style: "background-color:#e9003c;display:block;"}
                  %a.button-link{href: "#{cancellation_link}", style: "border-color:#e9003c;border-width:5px 18px;border-style:solid;font-family:helvetica,arial,sans-serif;font-weight:bold;white-space:nowrap;color:#fff!important;display:block;text-decoration:none;text-align:center;cursor:pointer;"}
                    %font{color: "#fff"}
                      %nobr= t('.cancel_txt')
