%h1 Manual Triggers

.col-lg-9
  = simple_form_for :event_trigger, url: :event_manual_trigger, wrapper: :bootstrap_horizontal, method: :put, html: {class: 'form-horizontal', role: 'form'} do |f|
    = f.input :action, as: :select, collection: %w{confirm cancel callback}
    = f.input :originator, as: :select, collection: {client: 'client', current_user: current_user.id}
    = f.input :via, as: :select, collection: ['sms', 'email', 'voice']
    = decorated_submit(f)

