- if @schedule.caller_id.is_validating?
  :javascript
    ConfirmationPoller.poll()
  .alert.alert-warning
    = t('.warning_html', number: @schedule.caller_id.number)
    #validationCode.text-center= @schedule.caller_id.validation_code
    .text-center
      = image_tag "ajax-loader.gif"
    #pollingUrl{ "data-url" => verification_check_schedule_caller_id_path(@schedule) }
    #verifiedUrl{"data-url" => verified_schedule_caller_id_path(@schedule) }

- if @schedule.caller_id.is_verified?
  %p
    = t('.phone_number')
    %strong #{number_to_phone(@schedule.caller_id.number, area_code: true)}
    - if @schedule.caller_id.friendly_name.present?
      (#{@schedule.caller_id.friendly_name})
    = t('.schedule_name', name: @schedule.name)
  %p= t('.outgoing_info')
  = button_to t('.remove_info') , schedule_caller_id_path(@schedule), method: :delete, class: "btn btn-primary btn-warning"

- if @schedule.caller_id.is_invalid?
  .alert.alert-danger
    = t('.not_validated_number_html', number: number_to_phone(@schedule.caller_id.number, area_code: true))
    = button_to t('.try_again'), schedule_caller_id_path(@schedule), method: :delete, class: "btn btn-primary btn-warning"

