:javascript
  $( function(){ $('#caller_id_number').mask("(999) 999-9999"); })
  
#intro
  = t('.intro', client_name: client_name.pluralize).html_safe
= simple_form_for @caller_id, url: schedule_caller_id_path, wrapper: :bootstrap_horizontal, remote: true, html: {class: "form-horizontal", role: "form"} do |f|
  = form_errors(@caller_id)
  = f.input :number
  = f.input :friendly_name
  = decorated_submit(f, {value: t('.submit')}).html_safe
