.card
  = render 'shared/schedule_tabs'
  .tab-content
    .tab-pane#settings.active
      .card-inner.large-padding
        #callerId
          - if @schedule.caller_id.blank?
            = render partial: 'caller_ids/form'
          - else
            = render partial: 'caller_ids/caller_id'
