.well.filters
  %form{action: "/reports?page=#{@events.page}", method: "get", class: "form-inline"}
    %div{class: "form-group"}
      = @events.filter_select(:schedules)
      = @events.filter_select(:clients)
      = @events.filter_select(:states)
      = @events.filter_select(:creators)
    %div{class: "form-group"}
      %div{id: "reportrange", class: "daterange-picker"}
        %i{class: "glyphicon glyphicon-calendar fa fa-calendar"}
        %span
        %b{class: "caret"}
        %input{type: "hidden", name: "q[date_range_left]", value: @events.query[:date_range_left]}
        %input{type: "hidden", name: "q[date_range_right]", value: @events.query[:date_range_right]}
    %a{href: 'javascript:print()', class: 'btn btn-default pull-right'}
      Print
    %div{class: "form-group"}
      = submit_tag 'Filter', class: 'btn btn-primary'

%table{class: 'table table-bordered table-striped'}
  %thead
    %tr
      %th= t('.schedule_name')
      %th= t('.client_name')
      %th= t('.appointment_time')
      %th= t('.status')
      %th= t('.created_by')
      %th= t('.confirmed_via')
  %tbody{class: 'events'}
    - @events.each do |event|
      %tr
        %td= event.schedule_name
        %td= event.client_name
        %td= event.appointment_time
        %td= event.status
        %td= event.created_by
        %td= event.confirmed_via

.text-center
  = paginate @events

= stylesheet_link_tag 'public/print-reports', media: 'print'
