!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title= t('.title_txt')
    %meta{content: "overview & stats", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag 'admin/application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'admin/application', 'data-turbolinks-track' => true
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="assets/admin/html5shiv.js"></script>
      <script src="assets/admin/respond.min.js"></script>
  %body
    #navbar.navbar.navbar-default
      #navbar-container.navbar-container
        .navbar-header.pull-left
          %a.navbar-brand{href: "#"}
            %small
              %i.icon-leaf
              = t('.logo_txt')
          / /.brand
        / /.navbar-header
        .navbar-header.pull-right{role: "navigation"}
          %ul.nav.ace-nav
            %li.grey
              = render 'admin/shared/gray_dropdown'
            %li.purple
              = render 'admin/shared/purple_dropdown'
            %li.green
              = render 'admin/shared/green_dropdown'
            %li.light-blue
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                %span.user-info
                  %small= t('.greeting_msg')
                  = current_admin.email
                %i.icon-caret-down
              %ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                %li
                  %a{href: "#"}
                    %i.icon-cog
                    = t('.setting_link_txt')
                %li.divider
                %li
                  %a{href: "#"}
                    %i.icon-off
                    = t('.logout_link_txt')
          / /.ace-nav
        / /.navbar-header
      / /.container
    #main-container.main-container
      .main-container-inner
        %a#menu-toggler.menu-toggler{href: "#"}
          %span.menu-text
        #sidebar.sidebar
          #sidebar-shortcuts.sidebar-shortcuts
            #sidebar-shortcuts-large.sidebar-shortcuts-large
              %button.btn.btn-success
                %i.icon-signal
              %button.btn.btn-info
                %i.icon-pencil
              %button.btn.btn-warning
                %i.icon-group
              %button.btn.btn-danger
                %i.icon-cogs
            #sidebar-shortcuts-mini.sidebar-shortcuts-mini
              %span.btn.btn-success
              %span.btn.btn-info
              %span.btn.btn-warning
              %span.btn.btn-danger
          / #sidebar-shortcuts
          = render "/admin/shared/side_bar"
          / /.nav-list
        .main-content
          #breadcrumbs.breadcrumbs
            %ul.breadcrumb
              %li
                %i.icon-home.home-icon
                = link_to t('.dashboard_home_txt'), admin_dashboard_path
          - if respond_to?(:search_action_path)
            .nav-search#nav-search
              %form.form-search{method: 'post', action: search_action_path }
                %span.input-icon
                  %input#nav-search-input.nav-search-input{ type: 'text', name: 'search', value: params[:search], placeholder: 'Search...', autocomplete: 'off' }
                  %i{class: 'ace-icon fa fa-search nav-search-icon'}
          .page-content
            = yield
        / /.main-content
        / /#ace-settings-container
      / /.main-container-inner
      %a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse{href: "#"}
        %i.icon-double-angle-up.icon-only.bigger-110
    / /.main-container
