!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title To-do Tasks Template
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width, initial-scale=1,  minimum-scale=1, maximum-scale=1", name: "viewport"}/
    = stylesheet_link_tag 'mobile/application', :media => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'mobile/application', 'data-turbolinks-track' => true
  %body
    .app-wrapper
      = yield
    = render 'shared/analytics'
    = render 'shared/kissmetrics'
