!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : t('app_title_txt')
    = csrf_meta_tags
    %meta{:charset => "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag 'public/application', :media => 'all', 'data-turbolinks-track' => true
    = render 'shared/favicons'
    = yield(:header)
    = javascript_include_tag 'public/application', 'data-turbolinks-track' => true
    - if Rails.env.test?
      :javascript
        jQuery.fx.off = true;
        
  %body.pd{class: body_class }
    .navbar.navbar-inverse.navbar-static-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only= t('toggle_navigation')
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.logo.practicaldesk-logo{:href => root_path}
            Practicaldesk
        / Place everything within .navbar-collapse to hide it until above 768px
        .navbar-collapse.collapse
          = render 'shared/logged_navigation' unless needs_subscription?
          = render 'shared/registration_navigation' if registering?
    %div{class: container_class}
      .row
        .col-lg-12
          = yield
      %footer
        .row
          .col-lg-12
            %p= t("copy_right")
    = render 'shared/analytics'
    = render 'shared/kissmetrics'
