!!!
%html
  %head
    %meta{content: "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
  %body{alink: "#0099cc", bgcolor: "#ffffff", leftmargin: "0", link: "#0099cc", style: "text-align: left;", topmargin: "0", vlink: "#0099cc"}
    %div{style: "width: 100%; margin: 10px 0;"}
      %center
        %table{border: "0", cellpadding: "0", cellspacing: "0", width: "98%"}
          %tr
            %td{style: "padding: 10px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.3em; text-align: left;"}
              %p= @event.account.name
          %tr
            %td{style: "padding: 10px; padding-bottom: 40px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.3em; text-align: left;", valign: "top"}

              = yield
          %tr
            %td
              %hr{style: "margin-top: 30px; border:none; border-top: 1px solid #ccc;"}/
              %p{style: "font-size: 13px; line-height: 1.3em; color: #a6a6a6; font-family: Helvetica, Arial, sans-serif;"}
                = t('.stop_mail', account_name: account_name)
                = link_to t('.click_here'), unsubscribe_link
