!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag 'public/application', :media => 'all', 'data-turbolinks-track' => true
    %title= content_for?(:title) ? yield(:title) : t('app_title_txt')
  %body
    = yield
  = render 'shared/analytics'
= render 'shared/kissmetrics'
