= inside_layout "application" do
  .col-lg-3
    .card.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header
        %li= link_to t('.new_client', client_name: client_name.capitalize), new_client_path
        %li= link_to t('.recently_scheduled'), clients_path(sort_by: 'scheduled_at')
        %li= link_to t('.recently_added'), clients_path(sort_by: 'created_at')
  .col-lg-9
    .card
      = yield
