= inside_layout "application" do
  .col-lg-3
    .card.sidebar-nav
      %ul.nav.nav-list
        %li= link_to @event.schedule.name, root_path(schedule: @event.schedule)
        %li= link_to client_name.capitalize, client_path(@event.client)
  .col-lg-9
    .card
      = yield
