= inside_layout "application" do
  .col-lg-3
    .card.sidebar-nav
      %ul.nav.nav-list
        %li.nav-header
        %li= link_to t(".my_profile"), edit_profile_path
        - if current_user.admin?
          %li= link_to t(".manage_users"), users_path
          %li= link_to t(".schedules"), schedules_path
          %li= link_to t(".account_settings"), edit_account_path
          %li= link_to t(".billing"), billing_path
  .col-lg-9
    = yield
