= simple_form_for current_account, url: account_path, wrapper: :bootstrap_horizontal, html: {class: 'form-horizontal', role: 'form'} do |f|
  = f.input :name, required: true, label: t('.organization_lbl'), hint: t('.organization_hint')
  = f.input :address, required: false, hint: t('.address_hint',client_name: client_name.pluralize)
  = f.input :phone, required: false, hint: t('.phone_hint', client_name: client_name.pluralize, appointment_name: event_name.pluralize)
  = f.input :client_name, collection: client_name_options, required: true, hint: t('.client_name_hint')
  = f.input :event_name, collection: event_name_options, required: true, hint: t('.event_name_hint')
  = f.input :time_zone, priority: ActiveSupport::TimeZone.us_zones, hint: t('.time_zone_hint')
  = decorated_submit(f)
