<p><%= t('.greeting',email: @email) %></p>

<p><%= t('.info_txt')%></p>

<p><%= link_to t('.confirm_link_txt'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
