!!!
%html
  %head
    %meta{content: "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
  %body{alink: "#0099cc", bgcolor: "#ffffff", leftmargin: "0", link: "#0099cc", style: "text-align: left;", topmargin: "0", vlink: "#0099cc"}
    %div{style: "width: 100%; margin: 10px 0;"}
      %center
        %table{border: "0", cellpadding: "0", cellspacing: "0", width: "98%"}
          %tr
            %td{style: "padding: 10px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.3em; text-align: left;"}
              %p= @resource.account.name
          %tr
            %td{style: "padding: 10px; padding-bottom: 40px; font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.3em; text-align: left;", valign: "top"}

              %h1{style: "font-family: Helvetica, Arial, sans-serif; color: #222222; font-size: 22px; line-height: normal;"}
                = t('.heading')

              %p
                = t('.greeting',name: @resource.first_name)

              %p
                = t('.first_pera',name: @resource.invited_by.name)

              %p
                %b= t('.get_started_txt')
                %br/
                = link_to accept_invitation_url(@resource, :invitation_token => @token), accept_invitation_url(@resource, :invitation_token => @token)

              %hr{style: "margin-top: 30px; border:none; border-top: 1px solid #ccc;"}/

              %p{style: "font-size: 13px; line-height: 1.3em;"}
                %b= t('.have_question_txt')
                = t('.contact_info',email: @resource.invited_by.email, name:  @resource.invited_by.name)
