#{@resource.account.name}

= t('.heading')

= t('.greeting',name: @resource.first_name)

= t('.first_pera',name: @resource.invited_by.name)

= t('.get_started_txt')

#{accept_invitation_url(@resource, :invitation_token => @token)}

= t('.have_question_txt')
= t('.contact_info',email: @resource.invited_by.email, name:  @resource.invited_by.name)

