<p> <%= t('.greeting',email: @resource.email)%></p>

<p><%= t('.info_txt')%></p>

<p><%= link_to t('.change_password_link_txt'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('.info_txt_2')%></p>
<p><%= t('.info_txt_3')%></p>
