<p> <%= t('.greeting',email: @resource.email)%></p>

<p><%= t('.info_txt_1')%></p>

<p><%= t('.info_txt_2')%></p>

<p><%= link_to t('.unlock_link_txt'), unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
