= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      = t('.pending_confirmation_info',email: resource.unconfirmed_email)

  %div
    = f.label :password
    %i= t('.password_hint')
    %br/
    = f.password_field :password, :autocomplete => "off"
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label :current_password
    %i= t('.current_password_hint')
    %br/
    = f.password_field :current_password
  %div= f.submit t('.submit_btn_txt')
%h3= t('.cancel_heading')
%p
  = t('.info_txt')
  = button_to t('.cancel_btn_txt'), registration_path(resource_name), :data => { :confirm => t('.confirmation_alert_txt') }, :method => :delete
= link_to t('.back_link_txt'), :back