.jumbotron
  .container
    %h2 Stop missed appointments. Improve customer communication.
    .secure_image.hidden-xs
      = image_tag "secure.png", class: "img-responsive"
    %ul.signup-intro
      %li Every customer gets a no-obligation, <strong>60-day unlimited-use free trial</strong>.
      %li You can cancel your account any time.
      %li Questions? Call (404) 969-5121 or email #{mail_to('help@practicaldesk.com')}.

.container{style: "margin-top:30px"}
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-body
        = form_for(@account_owner, as: resource_name, url: registration_path(resource_name), role: "form") do |f|
          = form_errors(@account_owner)
          .form-group
            = f.label :full_name, t('.full_name_lbl')
            = f.text_field :full_name, class: 'form-control', id: "owner_full_name"

          = f.fields_for :account do |a|
            .form-group
              = a.label :name, t('.organization_lbl')
              = a.text_field :name, :autofocus => true, class: "form-control", id: "account_name"

          .form-group
            = f.label :email, t('.email_lbl')
            = f.email_field :email, class: 'form-control', id: "owner_email"

          .form-group
            = f.label :password, t('.password_lbl')
            = f.password_field :password, class: "form-control", id: "owner_password"

          .form-group
            %button{type: 'submit', class: "btn btn-primary"}
              = t('.registration_btn_txt')
